
.bg-svg-ls {
	position: fixed;
	top: -10%;
	right: 12%;
	max-width: 910px;
	width: 100%;
}

.section-404 {
	padding-top: 78px;
	background: #f2f2f2;
	text-align: left;
	.container {
		position: relative;
		min-height: 512px;
	}
	.section-404__cnt {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	p {
		width: 50%;
		margin: 50px 0;
		line-height: 1.25;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: $font-color-1;
		padding: 13px 14px;
		background: $color-theme;
		font-size: 0.8125rem;
		text-transform: uppercase;
		border-radius: 4px;
		@include transition($prop, $time, $funct);
		&:hover {
			background: $color-hover-link1;
		}
	}
}

.error-404 {
	color: #4b79d8; 
	font-size: 6.125rem;
	font-weight: 900;
	line-height: 1;
}

.error-404__descr {
	padding-left: 50px;
	color: #cccccc;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1;
}

/*   MEDIA   */
@media (max-width: 1023px) {
	.bg-svg-ls {
		top: 0%;
		right: 0%;
	}
	.section-404 {
		text-align: center;
	}
	.error-404 {
		display: block;
	}
	.error-404__descr {
		display: block;
		padding-left: 0;
		display: block;
	}
	.section-404 p {
		width: 65%;
		margin: 50px auto;
	}
}

@media (max-width: 767px) {
	.bg-svg-ls {
		width: 130%;
		right: -15%;
	}
	.error-404 {
		margin-bottom: 25px;
	}
}

@media (max-width: 575px) {
	.bg-svg-ls {
		width: 130%;
		right: -15%;
	}
	.error-404 {
		margin-bottom: 25px;
	}
	.bg-svg-ls {
		width: 170%;
		right: -37%;
		top: 2%;
	}
	.section-404 p {
		width: 80%;
	}
}