/*__________ABOUT__________*/

p {
	margin: 0;
}


/*   SECTION-1   */
.about__section-1 {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 550px;
	background: url(../images/About/01.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0, 0.3);
	}
}

.about__section-1 {
	.container {
		position: relative;
		height: 100%;
	}
	.col-7 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		color: $font-color-1;
		text-align: left;
		h1 { 
			font-size: 3rem;
			line-height: 1.1;
		}
		p {
			margin-top: 20px; 
			font-size: 1.25rem;
			font-weight: 300;
			line-height: 1.25;
		}
	}
}

.banner.main {
	top: 50%;
	transform: translateY(-50%);
}


.about__section-1-info {
	position: absolute;
	width: 100%;
	bottom: 50px;
}

.about__section-1-info-cnt {
	width: 50%;
	text-align: left;
}

.about__section-1-icon {
	width: 50px;
	height: 50px;
	img {
		height: 50px;
	}
}

.about__section-1-icon-descr {
	margin-top: 10px;
	font-size: 1rem;
	line-height: 1.5625;
	color: $font-color-1;
}

/*   SECTION-2   */
.about__section-2 {
	position: relative;
	min-height: 720px;
	text-align: left;
	overflow: hidden;
	h2 {
		margin: 50px  0;
	}
	span {
		margin-bottom: 25px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #316bdd;
		line-height: 1;
	}
	p {
		line-height: 1.5625;
		color: $font-color-2;
	}
	.col-6.about__section-2--margin {
		margin-bottom: 50px;
		min-height: 155px;
	}
}

.about__section-2-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	// max-width: 590px;
	width: 45%;
	height: 720px;
	img {
		display: block;
		width: auto;
		height: 100%;
		margin-left: -145px;
	}
}

.about__section-2-logo {
	width: 100%;
	padding-top: 50px;
	border-top: 1px solid #99bbff;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	p {
		padding-top: 20px;
	}
}

.about__logo-ls {
	display: inline-block;
	width: 105px;
	padding-right: 25px;
	vertical-align: middle;
}
.about__logo-sigma {
	display: inline-block;
	width: 150px;
	padding: 14px 25px;
	vertical-align: middle;
	border-right: 1px solid #c2d2f2;
	border-left: 1px solid #c2d2f2;
}
.about__logo-lg {
	display: inline-block;
	width: 75px;
	padding-left: 25px;
	vertical-align: middle;
}

/*   SECTION-3   */
.about__section-3 {
	min-height: 640px;
	padding-top: 50px;
	text-align: left;
	overflow: hidden;

	h2 {
		margin: 125px 0 50px;
		font-size: 2.25rem;
	}
}

.about__section-3-icons {
	position: relative;
	height: 120px;
	margin-top: 50px;
	img {
		position: absolute;
		margin: auto;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		@include transition($prop, $time, $funct);
	}
	&:hover img{
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
}

.about__section-3-slider {
	width: 100%;
	.media-1200-hide {
		display: none;
	}
}

.slick-dots.dots-about {
	position: absolute;
	top: 500px;
	right: 0;
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	text-align: center;
	z-index: 2;
}

.slick-dots.dots-about li {
	margin: 0;
}

.slick-dots.dots-about li button:before {
	content: "";
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: #a0a0a0;
	border-radius: 50%;
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	background: #3071f2;
	opacity: 1;
}


/*   SECTION-4  */
.about__section-4 {
	position: relative;
	min-height: 720px;
	text-align: left;
	background: #fafbfc;
	overflow: hidden;
	h2 {
		margin: 50px 0;
		font-size: 2.25rem;
	}
	p {
		position: relative;
		margin-bottom: 15px;
		line-height: 1.25;
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 10px;
		// 	left: -40px;
		// 	display: block;
		// 	width: 25px;
		// 	border-top: 2px solid #316bdd;
		// }
	}
	h4 {
		margin: 0 0 20px;
	}
}

.about__section-4-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	// max-width: 590px;
	width: 45%;
	height: 720px;
	img {
		display: block;
		width: auto;
		height: 100%;
		margin-left: -320px;
	}
}

.p-decor {
	display: inline-block;
	width: 25px;
	border-top: 2px solid #316bdd;
	vertical-align: middle;
}


/*   MEDIA   */

@media (max-width: 1199px) {
	//   about__section-1
	.about__section-1-info-cnt {
		width: 60%;
		margin-left: 8.3333%;
	}
	.about__section-1 .col-7 {
		margin-left: 8.3333%;
	}

	//   about__section-2
	.about__section-2-img {
		position: static;
		width: 100%;
		height: 720px;
		img {
			width: auto;
			height: 100%;
			margin-left: 0;
		}
	}

	.about__section-2-cnt {
		width: 100%;
		margin-left: 0;
	}

	.about__section-2 {
		.col-6.about__section-2--margin{
			width: 25%;
			p {
				padding-right: 25px;
			}
		}
	}
	.about__section-2-logo {
		width: 65%;
	}

	//   about__section-3 
	.about__section-3-descr {
		width: 90%;
	}

	.about__section-3 {
		padding-bottom: 50px;
		.col-6.about-slider {
			margin: 0;
			width: 100%;
			.col-6 {
				width: 33.3333%;
			}
		}
		p {
			margin-bottom: 30px;
		}
	}

	.about__section-3 h2 {
		margin: 0 0 30px;
		font-size: 2.25rem;
	}

	.about__section-3-slider {
		width: 100%;
		.media-1200-hide {
			display: block;
		}
		.media-1200-show {
			display: none;
		}
	}

	.slick-dots.dots-about {
		top: 398px;
	}

	//   about__section-4
	.about__section-4 {
		margin-top: 50px;
	}

	.about__section-4-img {
		position: static;
		width: 100%;
		height: 720px;
		img {
			width: auto;
			height: 100%;
			margin-left: 0;
		}
	}

	.about__section-4-cnt {
		margin-left: 0;
		width: 100%;
		padding-bottom: 80px;
	}
}

@media (max-width: 1023px) {
	// about__section-1
	.about__section-1 {
		.col-7 {
			width: 80%;
		}
	}
	.about__section-1-info-cnt {
		width: 75%;
	}

	// about__section-2
	.about__section-2 {
		.col-6.about__section-2--margin{
			width: 33.3333%;
			margin-bottom: 30px;
			min-height: 180px;
			p {
				padding: 0;
			}
		}
	}

	.about__section-2-img {
		height: 540px;
	}

	.about__section-2-logo {
		width: 80%;
	}

	// about__section-4

	.about__section-4-img {
		height: 540px;
	}
}

@media (max-width: 767px) { 
	// about__section-1
	.about__section-1 {
		.col-7 {
			width: 100%;
			margin-left: 0;
		}
	}
	.about__section-1-info-cnt {
		width: 100%;
		margin-left: 0;
	}

	// about__section-2
	.about__section-2-img {
		height: 400px;
		img {
			width: 100%;
			height: auto;
		}
	}

	.about__section-2 {
		.col-6.about__section-2--margin{
			width: 50%;
			margin-bottom: 30px;
			min-height: 176px;
		}
	}

	// about__section-3
	.about__section-3 {
		.col-6.about-slider .col-6 {
			width: 50%;
		}
	}

	.about__section-3-slider {			
		.media-1200-hide {
			display: none;
		}
		.media-1200-show {
			display: block;
		}
	}

	.slick-dots.dots-about {
		top: 505px;
	}

	// about__section-4
	.about__section-4-img {
		height: 400px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.about__section-4 h2 {
		margin: 0 0 50px 0;
	}

	.about__section-1-info {
		bottom: 60px;
	}
}

@media (max-width: 575px) {
	// about__section-1
	.about__section-1 {
		.col-7 {
			top: 40%;
		}
	}
	.about__section-1-icon-descr {
		font-size: 0.875rem
	}

	// about__section-2
	.about__section-2-img {
		height: auto;
	}
	.about__section-2 h2 {
		margin: 30px 0;
	}
	.about__section-2 {
		.col-6.about__section-2--margin{
			margin-bottom: 15px;
			min-height: 130px;
		}
	}

	.about__section-2-logo {
		width: 100%;
		padding-top: 30px;
	}

	.about__logo-ls {
		width: 80px;
		padding-right: 15px;
	}
	.about__logo-sigma {
		width: 130px;
		padding: 14px 15px;
	}
	.about__logo-lg {
		width: 75px;
		padding-left: 15px;
	}

	// about__section-3
	.about__section-3-descr {
		width: 100%;
	}
	.slick-dots.dots-about {
		top: 475px;
	}

	// about__section-4
	.about__section-4-img {
		height: auto;
		padding-bottom: 30px;
	}

	.about__section-4 h2 {
		margin: 0 0 30px 0;
	}

	.about__section-4-cnt {
		padding-bottom: 40px;
	}

	.p-decor {
		width: 15px;
	}
}

@media (max-width: 434px) {
	.about__section-2 {
		.col-6.about__section-2--margin{
			width: 50%;
			min-height: 160px;
		}
	}
}

@media (max-width: 351px) {
	.about__section-2 {
		.col-6.about__section-2--margin{
			width: 100%;
			min-height: 80px;
			&:nth-of-type(2) {
				margin-bottom: 0;
			}
		}
	}
}