/*__________ANIMATIONS__________*/

/*   HOMEPAGE   */
header {
	transform: translateY(-150%);
	opacity: 0;
	transition: all 0.5s ease, opacity 1.5s ease, transform 1.5s ease;
}
header.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-1 {
	opacity: 0;
	transition:  opacity 2s ease;
}
.section-1.animate {
	opacity: 1;
}

.banner {
	transform: translate(100%,-50%);
	transition: transform 1.5s ease;
}
.banner.animate {
	transform: translate(0,-50%);
}

.section-1__title,
.section-1__title-descr {
	opacity: 0;
	transition: opacity 1s ease;
}
.section-1__title.animate,
.section-1__title-descr.animate {
	opacity: 1;
}

.link.ion-ios-arrow-right {
	opacity: 0;
	transition: opacity 1s ease;
}
.link.ion-ios-arrow-right.animate {
	opacity: 1;
}

.sitephone {
	opacity: 0;
	transition: opacity 1s ease;
}
.sitephone.animate {
	opacity: 1;
}

.section-2 {
	transform: translateY(50%);
	opacity: 0;
	transition: opacity 2s ease, transform 1.5s ease;
}
.section-2.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-3 {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
}
.section-3.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-4 {
	opacity: 0;
	transition: opacity 1s ease;
}
.section-4.animate {
	opacity: 1;
}

// .section-5 .container {
// 	transform: translateY(20%);
// 	opacity: 0;
// 	transition: opacity 1s ease, transform 1s ease;
// }
// .section-5 .container.animate {
// 	transform: translateY(0);
// 	opacity: 1;
// }

.section__perfect-service {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.section__perfect-service.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-7 {
	transform: translateY(5%);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
}
.section-7.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-8__cnt {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
}
.section-8__cnt.animate {
	transform: translateY(0);
	opacity: 1;
}

.section-9 {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.section-9.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   CONTACTS   */

header.background-white {
	transform: translateY(-150%);
	opacity: 0;
	transition: all 0.5s ease, opacity 1s ease, transform 1s ease;
}
header.background-white.animate {
	transform: translateY(0);
	opacity: 1;
}


.contacts__section-1 {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.contacts__section-1.animate {
	opacity: 1;
	transform: translateY(0);
}

#map {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 2s ease, transform 1.5s ease;
}
#map.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   ABOUT   */

.banner.main {
	transform: translate(100%,-50%);
	transition: transform 1.5s ease;
}
.banner.main.animate {
	transform: translate(0,-50%);
}

.about__section-1 {
	opacity: 0;
	transition:  opacity 2s ease;
}
.about__section-1.animate {
	opacity: 1;
}

.about__section-1-title {
	opacity: 0;
	transition: opacity 1s ease;
}
.about__section-1-title.animate {
	opacity: 1;
}

.about__section-1-info {
	transform: translateY(50%);
	opacity: 0;
	transition: opacity 2s ease, transform 1.5s ease;
}
.about__section-1-info.animate {
	transform: translateY(0);
	opacity: 1;
}

.about__section-2-cnt {
	transform: translateX(100px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.about__section-2-cnt.animate {
	transform: translateX(0);
	opacity: 1;
}

.about__section-2-img {
	transform: translateX(-100px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.about__section-2-img.animate {
	transform: translateX(0);
	opacity: 1;
}


.about__section-3-slider {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 2s ease, transform 1.5s ease;
}
.about__section-3-slider.animate {
	transform: translateY(0);
	opacity: 1;
}

.about__section-3-descr {
	opacity: 0;
	transition: opacity 1.5s ease;
}
.about__section-3-descr.animate {
	opacity: 1;
}


.about__section-4-img {
	transform: translateX(-100px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.about__section-4-img.animate {
	transform: translateX(0);
	opacity: 1;
}


.about__section-4-cnt {
	transform: translateX(100px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.about__section-4-cnt.animate {
	transform: translateX(0);
	opacity: 1;
}

/*   SERVICES   */

.services__section-1 {
	opacity: 0;
	transition:  opacity 2s ease;
}
.services__section-1.animate {
	opacity: 1;
}

.services__section-1-title {
	opacity: 0;
	transition:  opacity 1s ease;
}
.services__section-1-title.animate {
	opacity: 1;
}

.services__section-2 {
	transform: translateY(15%);
	opacity: 0;
	transition: opacity 1.5s ease, transform 1s ease;
}
.services__section-2.animate {
	opacity: 1;
	transform: translateY(0);
}

/*   MAIN-SERVICES   */

.main-service__section-1 {
	opacity: 0;
	transition:  opacity 2s ease;
}
.main-service__section-1.animate {
	opacity: 1;
}

.main-service__section-2-descr {
	opacity: 0;
	transition:  opacity 2s ease;
}
.main-service__section-2-descr.animate {
	opacity: 1;
}

.main-service__section-2-cnt {
	transform: translateY(100px);
	opacity: 0;
	transition: opacity 1.5s ease, transform 1s ease;
}
.main-service__section-2-cnt.animate {
	opacity: 1;
	transform: translateY(0);
}


.main-service__section-3 .container {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 1.5s ease, transform 1.5s ease;
}
.main-service__section-3 .container.animate {
	transform: translateY(0);
	opacity: 1;
}

.main-service__section-4 .container {
	opacity: 0;
	transition: opacity 1.5s ease;
}
.main-service__section-4 .container.animate {
	opacity: 1;
}

.main-service__section-5 {
	transform: translateY(30%);
	opacity: 0;
	transition: opacity 1.5s ease, transform 1.5s ease;
}
.main-service__section-5.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   OBJECTS   */

.objects__content .container {
	transform: translateY(50px);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.objects__content .container.animate {
	transform: translateY(0);
	opacity: 1;
}

#objets-map {
	opacity: 0;
	transition: opacity 2s ease, transform 1.5s ease;
}
#objets-map.animate {
	opacity: 1;
}

/*   CALCULATOR   */
.container.calc {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.container.calc.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   CATALOG   */
.cart-widget {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.cart-widget.animate {
	opacity: 1;
}

.catalog__cnt {
	h1, p {
		opacity: 0;
		transition: opacity 1s ease, transform 1s ease;
	}
}
.catalog__cnt {
	h1.animate,
	p.animate {
		opacity: 1;
	}
}

.catalog__cnt {
	.row {
		transform: translateY(20%);
		opacity: 0;
		transition: opacity 0.75s ease, transform 0.75s ease;
	}
}
.catalog__cnt {
	.row.animate {
		transform: translateY(0);
		opacity: 1;
	}
}

/*   LIFT ITEMS, ESCALATOR ITEMS, CATEGORY ITEMS   */
.type-items__cnt {
	h1, p {
		opacity: 0;
		transition: opacity 1s ease, transform 1s ease;
	}
}
.type-items__cnt {
	h1.animate,
	p.animate {
		opacity: 1;
	}
}

.type-items__cnt .row {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 0.75s ease, transform 0.75s ease;
}
.type-items__cnt .row.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   CATEGORY ITEMS   */
.category-items__select {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}

.category-items__select.animate {
	opacity: 1;
	transition: opacity 1s ease, transform 1s ease;
}
/*search*/
.search_resalt_text {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}

.search_resalt_text.animate {
	opacity: 1;
	transition: opacity 1s ease, transform 1s ease;
}

/*   PRODUCT   */
.product__cnt p {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.product__cnt p.animate {
	opacity: 1;
}

.product-card {
	transform: translateY(10%);
	opacity: 0;
	transition: opacity 0.75s ease, transform 0.75s ease;
}
.product-card.animate {
	transform: translateY(0);
	opacity: 1;
}

/*   CART   */
.cart__cnt {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.cart__cnt.animate {
	opacity: 1;
}

