/*__________CALCULATOR__________*/

.container.calc {
	margin-bottom: 100px;
	padding-top: 78px;
	text-align: left;
}

.objects__title {
	margin-top: 50px;
	font-size: 1.75rem;
}

.objects__title-descr {
	width: 57%;
	margin-top: 10px;
}

.calc__form {
	display: block;
	width: 67.7%;
	text-align: left;
	h5 {
		display: inline-block;
		width: 37.5%;
		margin: 0;
		color: #6e6e6e;
		font-size: 1rem;
		font-weight: 400;
	}
}

.calc__form-title {
	margin: 15px 0 50px;
	padding: 25px 0;
	border-bottom: 1px solid #e8e8e8;
	h4 {
		display: inline-block;
		margin: 0;
		font-size: 1.3125rem;
		line-height: 1;
	}
	.del-lift {
		float: right;
		width: 21px;
		height: 21px;
		background: transparent;
		color: #4a4f53;
		border: none;
		outline: none;
		display: none;
		&.show {
			display: inline-block;
		}
		&:before {
			font-size: 1.25rem;
			padding-bottom: 5px;
			vertical-align: bottom;
		}
	}
	.del-lift-descr {
		float: right;
		color: $font-color-2;
		line-height: 1.2;
		margin-right: 10px;
		opacity: 0;
		z-index: -1;
		@include transition($prop, $time, $funct);
	}
}

.calc__form-item {
	margin-bottom: 50px;
	font-size: 0;
	input {
		display: none;
		font-size: 1rem;
	}	

	// .select-calc {
	// 	position: relative;
	// 	display: inline-block;
	// 	min-width: 280px;
	// 	width: 35%;
	// 	padding: 12px 0 12px 25px;
	// 	font-size: 1rem;
	// 	border: 1px solid #e8e8e8;
	// 	border-radius: 4px;
	// 	outline: none;
	// 	color: #cccccc;
	// 	background-image: url('../svg/arrow_b_down.svg');
	// 	background-position: 95% center;
	// 	background-size: 15px 15px;
	// 	background-repeat: no-repeat;
	// 	@include transition($prop, 0.3s, $funct);
	// 	&:hover {
	// 		border-color: #316bdd;
	// 	}
	// 	span {
	// 		display: inline-block;
	// 		width: 100%;
	// 		height: 100%;
	// 		cursor: pointer;
	// 	}

	// }
	// ul {
	// 	list-style-type: none;
	// 	position: absolute;
	// 	top: 90%;
	// 	left: -1px;
	// 	width: 101%;
	// 	display: block;
	// 	padding: 0;
	// 	background: #fff;
	// 	border: 1px solid #e8e8e8;
	// 	z-index: -1;
	// 	opacity: 0;
	// 	@include transition($prop, 0.3s, $funct);
	// 	li {
	// 		padding: 10px 25px;
	// 		cursor: pointer;
	// 		@include transition($prop, 0.3s, $funct);
	// 	}
	// 	li:hover {
	// 		color: #000;
	// 	}
	// }
	// ul.active {
	// 	z-index: 3;
	// 	opacity: 1;
	// }
}

.calc__form-tabs {
	position: relative;
	display: inline-block;
	width: 62.5%;
	// height: 50px;
	font-size: 1rem;
	.form-tab1,
	.form-tab2 {
		position: absolute;
		transform: translateY(-50%);
		display: inline-block;
		padding: 16px 25px;
		background: #f7f7f7;
		color: #cccccc;
		line-height: 1;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		outline: 0;
		&:hover {
			color: #316bdd;
		}
		&.form-tab1 {
			left: 0;
		}
		&.form-tab2 {
			right: 12%;
		}
		&.check {
			background: #fff;
			color: #000;
			font-weight: bold;
			border-color: #b3b3b3;
			z-index: 1;
		} 
	}
}

.calc__form-slider-stop {
	position: relative;
	display: inline-block;
	width: 62.5%;
	max-height: 50px;
	padding: 10px 15px 0;
	border: 1px solid #cccccc;
	border-radius: 4px;
	vertical-align: middle;

	/*   style ion range slider-stop   */

	.irs-max, .irs-min {
		color: #cccccc;
		font-size: 1.125rem;
		background: none;
	}

	.irs-min {
		padding: 0 5px;
	}

	.irs-single {
		top: -1px;
		background: none;
		color: #000;
		font-size: 1.125rem;
		font-weight: bold;
	}

	.irs-line {
		opacity: 0;
	}

	.irs-with-grid {
		height: 50px;
	}

	.irs.js-irs-0.irs-with-grid {
		border: none;
	}

	.irs-grid {
		bottom: 25%;
		height: auto;
	}

	.irs-bar, .irs-bar-edge {
		opacity: 0;
	}

	.irs-slider {
		top: 53%;
		width: 20px;
		height: 20px;
		background: #4c6fd4;
		border-radius: 50%;
		cursor: pointer;
	}

	.irs-grid-pol {
		top: -5px;
		height: 5px;
		background: #cccccc;
	}
}

.irs-grid-text {
	font-size: 0;
}

.irs-grid-pol.small {
	display: none;
}

.slider-weight-value {
	span {
		display: inline-block;
		width: 30%;
		font-size: 1rem;
		&:nth-of-type(2) {
			width: 40%;
		}
	}
}

.calc__form-slider-wrap {
	display: inline-block;
	width: 62.5%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.calc__form-slider-weight {
	position: relative;
	height: 3px;
	max-height: 50px;
	margin-top: 10px;
	padding: 0 12%;
	border: 1px solid #cccccc;
	border-radius: 4px;
	vertical-align: middle;
	/*   style ion range slider-weight   */

	.irs-slider {
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		background: #4c6fd4;
		border-radius: 50%;
		cursor: pointer;
	}

	.irs-grid {
		height: auto;
	}

	.irs-grid-pol {
		top: -5px;
		width: 2px;
		height: 5px;
		background: #cccccc;
	}

}

.calc__form-buttons {
	display: inline-block;
	width: 62.5%;
	vertical-align: top;
	button {
		display: inline-block;
		width: 100px;
		height: 50px;
		background: #4c6fd4;
		color: #cccccc;
		font-size: 1rem;
		border: 1px solid #4c6fd4;
		border-radius: 4px;
		outline: none;
		&:hover {
			background: #4261ba;
			border-color: #4261ba;
		}
	}
	input {
		display: inline-block;
		width: 100px;
		height: 50px;
		margin: 0 20px;
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		vertical-align: top;
		line-height: 3;
		border: 1px solid #cccccc;
		border-radius: 4px;
	}
}

.calc__form-btn {
	font-size: 0;
	button {
		display: inline-block;
		margin-right: 50px;
		padding: 14px 25px;
		font-size: 0.8125rem;
		color: #fff;
		text-transform: uppercase;
		border: none;
		border-radius: 4px;
		outline: none;
	}
	#add_form_lift {
		background: #32cc89;
		&:hover {
			background: #2aa972;
		}
	}
	#calculate {
		background: #295fcc;
		&:hover {
			background: #4261ba;
		}
	}
}

.calc__form-wrap {
	@include transition($prop, 2s, $funct);
}

.calc__hidden {
	display: none;
}


@media (max-width: 1199px) {
	.calc__form {
		width: 85%;
	}
}

@media (max-width: 1023px) {
	.container.calc {
		padding-top: 108px;
	}
	.calc__form {
		width: 100%;
	}
	.calc__form h5 {
		width: 30%;
	}
	.calc__form-tabs {
		width: 70%;
	}
} 

@media (max-width: 768px) {
	.objects__title-descr {
		width: 100%;
	}
	.calc__form-title {
		margin: 15px 0 25px;
	}
	.calc__form h5 {
		width: 100%;
		margin-bottom: 15px;
	}
	.calc__form-tabs {
		width: 95%;
		height: 50px;
	}
	.calc__form-tabs .form-tab1, 
	.calc__form-tabs .form-tab2 {
		transform: translateY(0);
	}
	.calc__form-slider-stop {
		width: 83.5%;
	}
	.calc__form-slider-wrap {
		width: 90%;
	}
	.calc__form-buttons {
		width: 70%;
	}
}  

@media (max-width: 575px) {
	.container.calc {
		padding-top: 68px;
	}
	.calc__form-title {
		margin: 15px 0 15px;
		padding: 15px 0;
	}
	.calc__form h5 {
		margin-bottom: 15px;
	}
	.calc__form-item {
		margin-bottom: 30px;
	}
	.calc__form-tabs {
		height: 60px;
		text-align: center;
	}
	.calc__form-tabs .form-tab1, 
	.calc__form-tabs .form-tab2 {
		width: 150px;
	}
	.calc__form-tabs .form-tab2.form-tab2 {
		right: 0;
		left: 140px;
	}
	.calc__form-slider-stop {
		width: 100%;
		max-width: 400px;
	}
	.calc__form-slider-wrap {
		width: 95%;
		max-width: 400px;
	}
	.calc__form-buttons {
		width: 100%;
		button {
			width: 80px;
			height: 40px;
		}
		input {
			width: 95px;
			height: 40px;
			margin: 0 21px;
		}
	}
	.calc__form-btn {
		button {
			margin-right: 15px;
			width: 142px;
			padding: 15px 0px;
		}
		#calculate {
			margin-right: 0;
		}
	}

	.container.calc {
		margin-bottom: 50px;
	}

	.objects__title {
		margin-top: 25px;
	}
	.calc__form-slider-weight {
		margin-top: 20px;
	}
}

@media (max-width: 440px) {
	.calc__form-slider-wrap {
		max-width: 300px;
	}
	.calc__form-slider-stop {
		max-width: 300px;
	}
} 