
.cart__cnt {
	padding: 106px 0 100px;
	background: #f7f8fa;
	h1 {
		margin: 50px 0;
		font-size: 28px;
		font-weight: 400;
		text-align: left;
	}
}

.cart__order {
	position: relative;
	min-height: 315px;
	background: #ffffff;
	padding: 22px 40px 0;
	border-radius: 4px;
	&-head {
		font-size: 0;

		h4, & .quantity, & .price {
			display: inline-block;
			font-size: 16px;
			text-align: left;
			line-height: 1; 
		}
		h4 {
			width: 54.2373%;
			margin: 0;
		}
		& .quantity {
			width: 18.6441%;
			color: #cecece;
		}
		& .price {
			width: 27.1186%;
			color: #cecece;
		}
	}
}

.cart__prod {
	position: relative;
	margin-top: 22px;
	padding: 30px 0;
	border-top: 1px solid #e6e6e6;
}

.cart__prod-img {
	position: relative;
	width: 140px;
	height: 140px;
	overflow: hidden;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: 100%;
		max-height: 100%;
	}
}

.cart__prod-descr {
	position: absolute;
	top: 40px;
	left: 160px;
	width: 300px;
	max-height: 100px;
	overflow: hidden;
	font-size: 16px;
	text-align: left;
	&:hover a{
		text-decoration: underline;
	}
	a {
		text-decoration: none;
		color: #336699;
	}
}

.cart-prod__article {
	position: absolute;
	top: 145px;
	left: 160px;
	font-size: 13px;
	color: #cecece;
	.article-val {
		color: #000000;
	}
}

.product-quantity.cart {
	top: 80px;
	left: 560px;
	width: auto;
	input, button {
		width: 60px;
		height: 30px;
		padding: 0;
	}
}

.product-price.cart {
	top: 88px;
	left: 805px;
	font-size: 18px;
	font-weight: 600;
	img {
		height: 14px;
		width: 14px;
		margin-left: 10px;
		vertical-align: middle;
	}
}

.cart__del-prod {
	position: absolute;
	background: 0;
	font-size: 14px;
	border: none;
	outline: none;
	top: 86px;
	right: 0;
	&:hover img{
		transform: rotate(90deg);
	}
	img {
		width: 16px;
		height: 16px;
		transition: all 0.3s ease;
	}
	span {
		margin-right: 5px;
	}
	img, span {
		vertical-align: middle;
	}	
}

.cart__order-footer {
	border-top: 1px dashed #e6e6e6;
	font-size: 16px;
	text-align: left;
}

.cart__order-quantity {
	display: inline-block;
	padding: 22px 0;
	line-height: 1;
}

.clear-cart {
	float: right;
	padding: 22px 0;
	background: none;
	color: #cecece;
	font-size: 13px;
	line-height: 1.4;	
	border: none;
	outline: none;
	&:hover {
		color: #000000;
	}
	img {
		width: 16px;
		height: 16px;
	}
	img, span {
		vertical-align: middle;
	}
	span {
		margin-right: 20px;
	}	
}

.cart__links {
	min-height: 50px;
	margin-top: 50px;
}

.back-to-catalog {
	display: block;
	float: left;
	width: 245px;
	padding: 16px 0;
	background: #ffffff;
	text-decoration: none;
	color: #000000;
	text-align: center;
	font-size: 16px;
	line-height: 1;
	border-radius: 4px;
	&:hover .ion-ios-arrow-thin-left:before{
		left: -5px;
	}
	span {
		position: relative;
		padding-left: 25px;
		vertical-align: middle;
	}
}

.ion-ios-arrow-thin-left:before {
	position: absolute;
	font-size: 30px;
	left: 0;
	top: -5px;
	transition: all 0.2s ease;
}

.checkout {
	float: right;
	width: 230px;
	height: 50px;
	background: #1f73fd;
	color: #ffffff;
	font-size: 14px;
	border-radius: 25px;
	text-transform: uppercase;
	border: none;
	outline: 0;
	transition: all 0.3s ease;
	box-shadow: 0 5px 13px rgba(31,115,253, 0.21);
	&:hover {
		background: #1c69e6;
	}
}

.checkout.hide {
	display: none;
}

.cart__empty-descr {
	display: none;
	padding: 45px 40px;
	background: #ffffff;
	font-size: 16px;
	text-align: left;
	line-height: 1.5;
	a {
		color: #6699ff;
	}
}

.cart__empty-descr.show {
	display: block;
}


.order-window-wrap {
	position: fixed;
	top: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0, 0.5);
	z-index: -1;
	opacity: 0;
	@include transition($prop, 0.5s, $funct);
}

.order-window-cnt{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.order-window {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 680px;
	padding: 50px 100px 50px;
	width: 576px;
	transform: translate(-75%,-50%);
	background: $font-color-1;
	text-align: left;
	opacity: 0;
	@include transition($prop, 0.5s, $funct);
	h3 {
		font-size: 1.75rem;

	}
	p {
		margin: 20px 0;
		color: #b3b3b3;
		line-height: 1.25rem;
	}
	button.modal-close {
		position: absolute;
		left: 90%;
		top: 2%;
		width: 25px;
		height: 25px;
		background: none;
		border: none;
		outline: none;
		font-size: 1.25rem;
	}
}

.order-window .form-cnt {
	height: auto;

	label {
		display: inline-block;
		width: 100%;
		font-size: 0.875rem;
		&:last-of-type {
			width: auto;
			padding-left: 10px;
			font-size: 0.75rem;
			vertical-align: middle;
			a {
				text-decoration: none;
				color: $color-theme;
			}
		}
	}

	input {
		display: block;
		width: 100%;
		padding: 13px 10px;
		border: 1px solid #7b96cd;

		&::-webkit-input-placeholder {color: #d8d7de;}
		&::-moz-placeholder          {color: #d8d7de;}/* Firefox 19+ */
		&:-moz-placeholder           {color: #d8d7de;}/* Firefox 18- */
		&:-ms-input-placeholder      {color: #d8d7de;}
		&:-o-input-placeholder       {color: #d8d7de;}	
	}
	input.agreement-check {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	button {
		display: block;
		width: 100%;
		height: 50px;
		margin-top: 50px;
		background: $color-theme;
		color: $font-color-1;
		font-size: 1rem;
		text-transform: uppercase;
		border: none;
		outline: none;
		border-radius: 4px;
		&:hover {
			background: $color-hover-link1;
		}
	}
}


/*   MEDIA   */

@media (max-width: 1199px) {
	.cart__prod {
		padding-top: 160px;
	}

	.cart__order-head h4 {
		width: 45%;
	}

	.cart__order-head .quantity {
		width: 25%;
	}

	.cart__prod-descr {
		top: 15px;
		left: 0;
	}

	.cart-prod__article {
		top: 120px;
		left: 0;
	}

	.product-quantity.cart {
		left: 360px;
		right: auto;
	}

	.product-price.cart {
		left: 610px;
	}
}

@media (max-width: 1023px) {

	.cart__order {
		padding-top: 1px;
	}

	.cart__order-head {
		display: none;
	}

	.cart__prod-descr {
		top: -60px;
		left: 0;
		width: 100%;
		max-height: 45px;
	}

	.cart__prod {
		margin-top: 70px;
		padding-top: 50px;
	}
	
	.product-quantity.cart {
		left: 200px;
	}

	.product-price.cart {
		left: 420px;
	}

	.cart-prod__article {
		top: 15px
	}
}

@media (max-width: 767px) {

	.product-quantity.cart {
		left: 190px;
		top: 120px;
	}

	.product-price.cart {
		left: 190px;
		top: 70px;
	}

	.cart__del-prod {
		top: 65px;
		span {
			display: none;
		}
		img {
			width: 25px;
			height: 25px;
		}
	}
	
	.back-to-catalog,
	.checkout {
		display: block;
		float: none;
		width: 100%;
		max-width: 535px; 
		margin: auto;
	}
	.checkout {
		margin-bottom: 30px;
	}
}

@media (max-width: 575px) {
	.cart__prod {
		padding-bottom: 80px;
	}

	.product-quantity.cart {
		left: 2px;
		top: 215px;
	}

	.product-price.cart {
		left: 60%;
		top: 90px;
	}

	.cart__del-prod {
		top: 10px;
	}

	.cart__order {
		padding: 1px 10px 0;
	}

	.cart__cnt {
		padding-top: 76px;
	}

	.cart__cnt h1 {
		margin: 30px 0;
	}

	.cart__empty-descr {
		padding: 30px 10px;
	}

	.order-window {
		width: 100%;
		max-width: 100%;
		max-width: 100vh;
		overflow: auto;
		padding: 130px 15% 0;
		form button {
			margin-top: 30px;
		}
		button.modal-close {
			top: 100px;
			left: 85%;
			font-size: 1.5rem;
		}
		.form-cnt label:last-of-type { 
			width: 80%;
			font-size: 0.875rem;
		}

		.form-cnt button {
			margin-top: 25px;
		}

		.form-cnt {
			.input-wrap {
				margin: 10px 0 15px;
			}
		}
	}
}

