
.row.category-items__card-cnt {
  min-height: 430px;
}

.col-3.category-items__card-wrap {
  margin-bottom: 20px;
}

.col-4.category-items__card-wrap {
  margin-bottom: 20px;
}

.category-items__card {
  position: relative;
  height: 410px;
  padding-top: 10px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  &:hover .product-descr {
    text-decoration: underline;
  }
}

.category-items__card-img {
  position: relative;
  width: 100%;
  max-width: 260px;
  height: 230px;
  margin: auto;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 80%;
    margin: auto;
  }
}

.product-avail {
  position: absolute;
  top: 230px;
  left: 15px;
  background: #46dc46;
  color: #ffffff;
  padding: 8px 13px;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 2px;
  &.absent {
    background: #d4d4d4;
  }
}

.product-descr {
  position: absolute;
  display: block;
  top: 280px;
  left: 15px;
  overflow: hidden;
  width: 90%;
  height: 55px;
  font-size: 13px;
  color: $color-theme;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

.product-price {
  position: absolute;
  top: 360px;
  left: 15px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  img {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    vertical-align: middle;
  }
}

button.product-in-cart {
  position: absolute;
  top: 357px;
  right: 20px;
  width: 60px;
  padding: 5px 0 8px;
  color: #ffffff;
  background: #1f73fd;
  line-height: 1;
  border: none;
  border-radius: 15px;
  transition: background 0.3s ease;
  &:hover {
    background: $color-hover-btn;
  }
  img {
    vertical-align: middle;
  }
  .plus-icon {
    width: 10px;
    height: 10px;
  }
  .cart-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
  span {
    display: none;
    margin-left: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.category-items__select {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 80px;
  padding: 10px 15px 10px 0px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 3px #eeeeee;
  width: 1180px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #fff;
  z-index: 2;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  opacity: 1;
  transition: 0.2s all ease;
}

.category-items__select_with_button {
  transition: 0.2s all ease;
  height: 100vh;
  overflow-y: scroll;
}

.noscroll {
  overflow: hidden;
}

.settings_button {
  top: 20px;
}

.select-wrap {
  padding: 17px 0;
  cursor: pointer;
}

.select-type-prod,
.select-brand {
  position: relative;
  display: inline-block;
  max-height: 50px;
  font-size: 1rem;
  border-radius: 4px;
  vertical-align: middle;
  img {
    position: absolute;
    top: 40%;
    right: 7px;
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
    &.active {
      transform: rotate(180deg);
    }
  }
  span {
    overflow: hidden;
    display: block;
    height: 18px;
    padding: 0 0 0 25px;
    text-align: left;
    line-height: 1;
    transition: color 0.3s ease;
    &:hover {
      color: #316bdd;
    }
  }
  ul {
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 0;
    box-shadow: 0px 3px 10px 3px #eeeeee;
    position: absolute;
    top: 61px;
    width: 350px;
    margin: 0;
    padding: 20px 0 20px 0px;
    background: #ffffff;
    border-radius: 4px;
    transition: all 0.3s ease;
    &.active {
      position: absolute;
      display: block;
      opacity: 0.99;
      z-index: 0;
    }
    li {
      display: block;
      margin-top: 13px;
      margin-bottom: 13px;
      color: #262626;
      text-align: left;
      transition: all 0.1s ease;
      cursor: pointer;
      padding-left: 20px;
      font-weight: 400;
      &:hover {
        font-weight: bold;
        border-left: 2px solid #1f73fd;
      }
    }
  }
}

.proizvoditel {
  left: 200px;
}

.type {
  left: 0;
}

.brand_menu_pos,
.type_menu_pos {
  position: absolute;
  background: #fff;
  z-index: 1;
  ul {
    z-index: -50;
  }
}

.select-type-prod {
  margin-left: 10px;
}

.select-brand {
  margin-left: 20px;
  img {
    right: -5px;
  }
}

.product-pages-nav {
  margin-top: 30px;
  font-size: 0;
  a {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: -1px;
    background: #f7f8fa;
    color: $font-color-2;
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
    &:hover {
      color: #1f73fd;
      border-color: #1f73fd;
      z-index: 1;
    }
    &.focus {
      background: #1f73fd;
      color: $font-color-1;
      border-color: #1f73fd;
    }
  }
}

.prev-but-nav,
.next-but-nav {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f7f8fa;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  vertical-align: middle;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
  }
  &:hover {
    color: #1f73fd;
    border-color: #1f73fd;
    z-index: 1;
  }
  &.hide {
    display: none;
  }
  img {
    width: 15px;
    height: 15px;
  }
}

.next-but-nav {
  margin-left: -1px;
  img {
    transform: rotate(180deg);
  }
}

.load-more {
  display: none;
  padding: 30px 0 20px;
  .img-load,
  span {
    vertical-align: middle;
  }
}

.clear-filters {
  top: 45%;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1rem;
  background: none;
  border: none;
  outline: 0;
  color: rgb(206, 206, 206);
  transition: all 0.3s ease;
  vertical-align: middle;
  img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}

.type-category {
  margin-top: 0;
  margin-bottom: 40px !important;
}

.find-row__inside {
  background-color: #fff;
  min-height: 50px;
  position: relative;
  z-index: 101;
}

.find-row__inside__menu1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: green;
  z-index: -1;
}

/*   MEDIA   */

@media (max-width: 1199px) {

  .row.category-items__cart-cnt {
    margin: 0 20px;
  }

  .col-3.category-items__card-wrap {
    width: 33.3333%;
  }
  .category-items__select img {
    //right: -20px;
  }
  .select-brand {
    width: auto !important;
  }
  .category-items__select {
    width: 960px;
  }
  .select-type-prod img,
  .select-brand img {
    right: -15px;
  }
  .proizvoditel {
    left: 100px;
  }
  .type {
    left: -100px;
  }
}

@media (max-width: 1023px) {

  .row.category-items__cart-cnt {
    margin: 0 -10px;
  }

  .col-3.category-items__card-wrap {
    width: 100%;
    max-width: 748px;
    float: none;
    margin: 0 auto 20px;
  }

  .category-items__card {
    height: 250px;
  }

  .category-items__card-img {
    margin: 0;
  }

  .product-avail {
    top: 25px;
    left: 42.5%;
  }

  .product-descr {
    top: 75px;
    left: 42.5%;
    width: 50%;
  }

  .product-price {
    top: 145px;
    left: 42.5%;
  }

  button.product-in-cart {
    position: absolute;
    top: 185px;
    right: 0;
    left: 42.5%;
    width: 355px;
    padding: 10px 0 13px;
    border-radius: 20px;
    .cart-icon {
      margin-left: 15px;
    }
    span {
      display: inline-block;
    }
  }

  .product-pages-nav {
    padding: 30px 0;
    background: #ffffff;
    a {
      width: 40px;
      height: 40px;
      margin-left: 40px;
      font-size: 21px;
      line-height: 1.8;
    }
  }

  .prev-but-nav,
  .next-but-nav {
    width: 40px;
    height: 40px;
    &:before {
      font-size: 21px;
    }
  }

  .next-but-nav {
    margin-left: 40px;
  }

  .load-more {
    display: block;
  }
  .category-items__select {
    width: 940px;
    .container {
      max-width: 960px;
    }
  }
  .select-type-prod span,
  .select-brand span {
    padding: 0 0 0 10px;
  }
  .brand_menu_pos,
  .type_menu_pos {
    top: 200px;
  }
}

@media (min-width: 950px) {
  .category-items__select_with_button {
    height: auto;

  }
}

@media (max-width: 950px) {
  .category-items__select {
    width: 728px;
    .container {
      max-width: 828px;
    }
  }

  .search_form {
    min-width: 588px;
    margin-bottom: 7px;
  }

  .clear-filters {
    display: none;
  }
  .settings_button {
    margin-bottom: 7px;
  }
  .select-type-prod,
  .select-brand {
    display: none;
  }

  .settings_button {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {

  .select-type-prod, .select-brand {
    width: 47.5%;
  }
  .select-brand {
    margin-left: 5%;
  }

  .type-items__cnt h1.type-category {
    font-size: 30px;
  }

  .category-items__card {
    padding-top: 25px;
  }

  .category-items__card-img {
    max-width: 165px;
    height: 200px;
  }

  .product-avail,
  .product-descr,
  .product-price,
  button.product-in-cart {
    left: 35%;
  }

  button.product-in-cart {
    width: 325px;
  }

  .product-pages-nav {
    a {
      margin-left: 3.6%;
    }
  }

  .next-but-nav {
    margin-left: 3.6%;
  }
}

@media (max-width: 733px) {
  .category-items__select {
    width: 530px;
    .container {
      max-width: 536px;
    }
  }
  .search_form {
    min-width: 428px;
  }
  .settings_button {
    right: 0px !important;
  }
  #small_menu {
    margin-left: 5px !important;
  }
}

@media (max-width: 575px) {

  .type-items__cnt h1.type-category {
    font-size: 25px;
  }

  .select-type-prod, .select-brand {
    width: 48%;
    span {
      padding-left: 10px;
    }
    ul {
      top: 42px;
      li {
        padding-left: 10px;
      }
    }
  }

  .select-type-prod img,
  .select-brand img {
    top: 40%;
    right: 8px;
    width: 12px;
    height: 12px;
  }

  .select-brand {
    margin-left: 3%;
  }

  .category-items__card {
    padding-top: 0;
    height: 280px;
  }

  .category-items__card-img {
    max-width: 165px;
    height: 180px;
  }

  .product-avail {
    top: 25px;
    left: 40%;
  }

  .product-price {
    top: 75px;
    left: 40%;
  }

  .product-descr {
    left: 40%;
    top: 120px;
    width: 50%;
  }

  button.product-in-cart {
    width: 270px;
    top: 215px;
    left: 40%;
  }

  .product-pages-nav {
    padding: 20px 0;
    a {
      width: 30px;
      height: 30px;
      margin-left: 4%;
      font-size: 15px;
      line-height: 1.8;
    }
    a.media__575--display-none {
      display: none;
    }
  }

  .prev-but-nav,
  .next-but-nav {
    width: 30px;
    height: 30px;
    &:before {
      font-size: 16px;
    }
  }

  .next-but-nav {
    margin-left: 4%;
  }

  .select-type-prod,
  .select-brand {
    span {
      height: 16px;
    }
  }
}

@media (max-width: 534px) {
  .category-items__select {
    width: 400px;
    .container {
      max-width: 432px;
    }
  }
  .search_form {
    min-width: 300px;
  }
}

@media (max-width: 500px) {

  .product-avail {
    top: 25px;
    left: 56%;
  }

  .product-price {
    top: 75px;
    left: 56%;
  }

  .category-items__card {
    height: 325px;
  }

  button.product-in-cart {
    width: 90%;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-descr {
    top: 180px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 400px) {
  .settings_button {
    display: none!important;
  }
  .category-items__select {
    width: 95%;
    .container {
      max-width: 100%;
    }
  }
  .search_form {
    min-width: 100%;
  }
}
