/*   CATALOG   */

/*   General   */
.cart-widget {
	position: fixed;
	bottom: 160px;
	right: 50px;
	width: 60px;
	height: 60px;
	background: #ffffff;
	font-size: 25px;
	line-height: 3;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 4;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
}

.cart-widget-img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	img {
		width: 25px;
		height: 25px;
	}
	.cart-widget-count {
		position: absolute;
		top: 13px;
		right: 11px;
		width: 15px;
		height: 15px;
		background: #dd313d;
		font-size: 8px;
		line-height: 2.2;
		color: #ffffff;
		border-radius: 50%;
	}
}

.cart-widget.media-768 {
	display: none;
	position: absolute;
	top: 13px;
	left: 10px;
	width: 50px;
	height: 50px;
	line-height: 2.4;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
	.cart-widget-count {
		top: 7px;
		right: 8px;
	}
}

.cart-widget-descr {
	display: none;
	position: absolute;
	top: 30px;
	left: 10%;
	color: #000000;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 4;
}


/*   Page catalog   */
.catalog__cnt {
	padding: 120px 0 70px;
	background: #f7f8fa;

	h1 {
		margin: 15px 0;
		font-size: 2.375rem;
		font-weight: 400;
	}

	p {
		width: 43%;
		margin: 0 auto 35px;
		line-height: 25px;
	}
}

.catalog__img-wrap {
	position: relative;
	display: block;
	height: 480px;
	border-radius: 4px;
	&:active .catalog__img-icon {
		right: 35px;
	} 
}
@media (min-width: 1023px) {
	.catalog__img-wrap:hover .catalog__img-icon {
		right: 35px;
	} 
}


.catalog__img-descr {
	position: absolute;
	bottom: 30px;
	left: 20px;
	font-size: 1.25rem;
	color: $font-color-1;
}

.catalog__img-wrap.lift {
	background: url(../images/catalog/elevator.jpg) no-repeat center center;
	background-size: cover;
}
.catalog__img-wrap.escalator {
	background: url(../images/catalog/escalator.jpg) no-repeat center center;
	background-size: cover;
}

.catalog__img-icon {
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 30px;
	height: 30px;
	@include transition($prop, .2s, $funct);
}


/*   MEDIA   */
@media (max-width: 1199px) {

	.cart-widget,
	.sitephone {
		right: 4%;
	}

	.catalog__img-wrap {
		height: 380px;
	}

}

@media (max-width: 1023px) {
	.catalog__cnt {
		padding-top: 150px;

		p {
			width: 75%;
		}

		.col-6 {
			width: 100%;
			max-width: 460px;
			float: none;
			margin: 0 auto;
			&:first-of-type {
				margin-bottom: 20px;
			}
		}
	}

	.cart-widget {
		display: none;
	}

	.cart-widget.media-768 {
		display: block;
	}

	.cart-widget-descr {
		display: block;
	}
}

@media (max-width: 767px) {
	.cart-widget-descr {
		display: none;
	}
}

@media (max-width: 575px) {

	.catalog__cnt {
		padding-top: 100px;
		p {
			width: 100%;
			font-size: 16px;
		}
	}
	
	.cart-widget.media-768 {
		left: 10px;
		top: 13px;
	}

	.catalog__img-descr {
		width: 70%;
		bottom: 25px;
		font-size: 20px;
		text-align: left;	
	}

}