/*_______________CONTACTS_______________*/

header.background-white {
	transform: translateY(0);
	opacity: 1;

	background: #fff;
	@include box-shadow;
	.header-cnt {
		color: $font-color-2;
	}
	.section-1__nav li a {
		color: $font-color-2;
	}
	.number {
		color: $font-color-2;
	}
}

.contacts__section-1 {
	padding-top: 78px;
	text-align: left;

	.col-4 {
		position: relative;
		margin-bottom: 50px;
		h3 {
			font-size: 1.25rem;
			line-height: 1.4;
		}
	}

	.col-4:nth-of-type(-n+3) .link-items {
		height: 180px;
	}

	.col-4:nth-of-type(-n+3) h3 {
		min-height: 3.75rem;
	}

	.col-4:nth-of-type(-n+3):after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		width: 95%;
		margin-left: 2.25%;
		border-bottom: 1px solid #cadcff;
	}

	.col-4.links {	
		a {
			position: relative;
			display: block;
			margin: 15px 0 0 40px;
			text-decoration: none;
			color: $font-color-2;
			@include transition($prop, $time, $funct);
			&:before {
				position: absolute;
				top: -3px;
				left: -40px;
				width: 30px;
				height: 30px;
				background: #d8eeff;
				font-size: 1.125rem;
				color: #6498ff;
				border-radius: 50%;
				text-align: center;
				line-height: 1.7;
			}

		}
		span {
			position: relative;
			display: block;
			margin: 20px 0 0 40px;
			&:before {
				position: absolute;
				top: -3px;
				left: -40px;
				width: 30px;
				height: 30px;
				background: #d8eeff;
				font-size: 1.5rem;
				color: #6498ff;
				border-radius: 50%;
				text-align: center;
				line-height: 1.3;
			}
		}
		a.contacts__mail-link {
			color: #6498ff;
			margin-top: 35px;
			&:hover {
				text-decoration: underline;
			}
		}
		a.contacts__phone-link:hover {
			color: #6498ff;
		}

		a.contacts__adress-link {
			margin-left: 0;
			width: 80%;
			color: #6498ff;
			&:hover {
				text-decoration: underline;
				color: #6498ff;
			}
		}
	}

	.social-icon {
		width: 40px;
		height: 40px; 
		margin-right: 40px;
		background: transparent;
		border-color: #6498ff;
		&:hover a {
			color: #4b71be;
			border-color: #4b71be;
		}
		a {
			color: #6498ff;
			border: 1px solid #6498ff;
			border-radius: 50%;
		}
	}
}

.contacts__social {
	h3 {
		width: 80%;
		margin-bottom: 30px;
		line-height: 1.4;
	}
}


.contacts__title {
	margin: 50px 0;
	font-size: 1.75rem;
}

.contacts-sitephone {
	opacity: 1;
}


.contacts__section-2 {
	position: relative;
	margin-top: 50px;
}

#map{
	min-height: 540px;
}

.contact__map-info {
	position: absolute;
	top: 130px;
	left: 130px;
	width: 280px;
	padding-left: 20px;
	background: #fff;
	text-align: left;
	border-radius: 4px;
	p {
		margin: 35px 0 0;
		font-size: 1.3125rem;
		line-height: 1.4;
	}
}

.contact__map-descr {
	margin: 30px 0;
	span {
		padding-left: 5px;
	}
	.metro,
	.schedule {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 2px solid #6498ff;
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: block;		
			width: 15px;
			height: 15px;
			margin: auto;
		}
	}

	.schedule {
		background: #d8eeff;
		border: none;
	}
}

.contacts__section-3 {
	min-height: 505px;
	margin-bottom: 100px;
	padding: 90px 0 0;
}

.contacts__form {
	max-width: 580px;
	padding: 0 10px;
	width: 100%;
	margin: auto;
	text-align: left;
	font-size: 0;
	input {
		display: block;
		width: 100%;
		padding: 5px 0;
		font-size: 1rem;
		border: none;
		border-bottom: 2px solid #b3cdff;
		outline: 0;
		@include transition($prop, 1s, $funct);
	}
	textarea {
		display: block;
		width: 100%; 
		height: 27px;
		font-size: 1rem;
		border: none;
		border-bottom: 2px solid #b3cdff;
		outline: 0;
	}


	button {
		display: block;
		margin: 60px auto 0;
		background: $color-theme;
		padding: 13px 22px 14px 22px;
		outline: none;
		border: none;
		border-radius: 4px;
		color: $font-color-1;
		text-transform: uppercase;
		font-size: 0.875rem;
		transition: all 0.5s ease;
		&:hover {
			background: $color-hover-link1;
		}
	}
}

.contacts__form-btn {
	text-align: center;
}

.contacts__input-decor {
	display: inline-block;
	position: relative;
	margin-bottom: 85px;
}

.contacts__input-decor.name {
	width: 65.5172%;
}

.contacts__input-decor.phone {
	width: 48.2%; 
}

.contacts__input-decor.mail {
	width: 48.2%;
	margin-left: 3.6%; 
}

.contacts__input-decor.message {
	width: 100%;
	margin-bottom: 0; 
}

.contacts__input-decor label:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 0;
	// border-bottom: 2px solid $color-theme;
	height: 2px;
	background: $color-theme;
	@include transition($prop, 0.7s, $funct);
}	

.contacts__form input:focus + label:after {
	width: 100%;
}

.contacts__form textarea:focus + label:after {
	width: 100%;
}

.text-area-cnt {
	height: 80px;
}

/*   MEDIA   */

@media (max-width: 1199px) {
	.contacts__section-1 {
		.col-4:nth-of-type(-n+3) h3 {
			min-height: 5.3125rem;
		}
	}
}

@media (max-width: 1024px) {
	.contacts__section-1 {
		padding-top: 108px;
		.col-4 {
			width: 41.6666%;
		}
		
		.col-4:nth-of-type(-n+2) .link-items {
			height: 100px;
		}

		.col-4:nth-of-type(n+3) .link-items {
			height: 180px;
		}

		.col-4:nth-of-type(n+5) .link-items {
			height: auto;
		}

		.col-4:nth-of-type(-n+4) h3 {
			min-height: 5.3125rem;
		}

		.col-4:nth-of-type(-n+4):after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			display: block;
			width: 95%;
			margin-left: 2.25%;
			border-bottom: 1px solid #cadcff;
		}

		.col-4.links a.contacts__mail-link {
			margin-top: 15px;
		}
	}

	.contact__map-info {
		left: 20px;
	}	
}

@media (max-width: 767px) {
	.contacts__section-1 {
		.col-4 {
			width: 50%;
		}
	}
	.contacts__section-3 {
		min-height: 465px;
	}
	.contacts__form {
		max-width: 445px;
	}
	.contacts__input-decor {
		margin-bottom: 50px;
	}
	.contacts__input-decor.name,
	.contacts__input-decor.phone,
	.contacts__input-decor.mail {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 575px) {
	.contacts__title {
		margin: 25px 0;
	}
	.contacts__section-1 {
		padding-top: 78px;
		.col-4 {
			width: 100%;
			margin-bottom: 25px;
			.link-items {
				height: auto;
				padding-bottom: 30px;
			}
			h3 {
				min-height: auto;
				margin-bottom: 20px;
			}
		}
		.col-4.links a:before {
			line-height: 2.2;
			top: -4px;
		}
		.col-4:nth-of-type(-n+2) .link-items,
		.col-4:nth-of-type(n+3) .link-items {
			height: auto;
		}
		.col-4:nth-of-type(-n+4) h3 {
			min-height: auto;
		}
		.col-4.links span:before {
			line-height: 1.5;
			top: -4px;
		}
		.contacts__social h3 {
			margin-bottom: 15px;
		}
		.col-4.contacts__social {
			margin-bottom: 0;
		}
	}
	.contacts__section-2 {
		margin-top: 0;
	}
	.contacts__section-3 {
		margin-bottom: 50px;
	}
	.contacts__form button {
		width: 135px;
	}
	.contacts__form {
		max-width: 350px;
	}

	.contacts__section-1 .col-4.links a {
		font-size: 14px;
	}

	.contacts__section-1 .col-4.links a.contacts__mail-link {
		margin-top: 25px;
	}
}