
.main-service__section-1.emer-disp {
	background: url(../images/img_27/Avariyno-dispetcher.jpg) no-repeat center center;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}

.main-service__section-2.emer-disp {
	span {
		font-weight: 400;
	}
	span.weight-bold {
		font-weight: bold;
		&:before {
			top: 10px;
		}
	}
	p.margin-bottom {
		margin-bottom: 15px;
	}
}

.main-service__section-1.disp {
	background: url(../images/services/big_dispatch.jpg) no-repeat center center;
	background-size: cover;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}

.main-service__section-2-descr.disp {
	margin-bottom: 35px;
}

.main-service__section-1.mod {
	background: url(../images/img_27/moderniz_1.jpg) no-repeat top center;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.3);
	}
}

.main-service__section-1.repair {
	background: url(../images/img_27/Remont.jpg) no-repeat center bottom;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}
