/*   FOOTER   */

footer {
	position: relative;
	min-height: 380px;
	padding: 50px 0 30px;
	background: #272b30;
	font-size: 0;
	z-index: 1;
}

.footer__cnt {
	padding-bottom: 50px;
}

.footer-logo {
	display: inline-block;
	width: 33.3333%;
	text-align: left;
	vertical-align: top;
	img {
		width: 141px; 
	}
}

.company-group {
	margin-top: 45px;
	.footer-logo {
		vertical-align: middle;
		img {
			width: 93px;
		}

	}
	.footer-descr {
		vertical-align: middle;
	}
}

.footer-descr {
	display: inline-block;
	width: 66.6666%;
	margin: 0;
	color: #656567;
	font-size: 0.875rem;
	text-align: left;
	vertical-align: top;
}

.social {
	text-align: left;
	margin-top: 45px;

}

.social-descr {
	display: inline-block;
	margin-right: 35px;
	font-size: 1rem;
	color: #656567;
	vertical-align: middle;
}

.social-icon {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px; 
	margin-right: 40px;
	background: transparent;
	vertical-align: middle;
	border-color: transparent;
	@include transition($prop, $time, $funct);
	&:hover a {
		color: $font-color-2;
		background: $font-color-1;
		border-color: $font-color-1;
	}
	a {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		text-decoration: none;
		color: $font-color-1;
		border: 1px solid #656567;
		border-radius: 50%;
		@include transition($prop, $time, $funct);
	}
}

.icon-vk:before {
	content: "\e900";
	font-size: 1.2rem;
}
.icon-facebook:before {
	content: "\ea90";
	font-size: 1.2rem;
}
.icon-twitter:before {
	content: "\ea96";
	font-size: 1.2rem;
}

.footer__links {
	text-align: left;
}

.col-5.footer__links-cnt,
.col-3.footer__links-cnt, 
.col-4.footer__links-cnt {	
	a {
		display: block;
		margin-bottom: 45px;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1;
		font-weight: bold;
		color: #656567;
		text-transform: uppercase;
		@include transition($prop, $time, $funct);
		&:hover {
			color: $font-color-1;
		}
	}
}

.footer__support-info {
	padding-top: 95px;
}

.footer__support-phone {
	display: inline-block;
	a {
		display: block;
		text-decoration: none;
		font-size: 1.5625rem;
		line-height: 1;
		color: $font-color-1;
		@include transition($prop, $time, $funct);
		&:hover {
			color: #656567;
		}
	}

	span {
		display: block;
		padding-top: 10px;
		font-size: 0.8125rem;
		color: #656567;
	}
}

.footer__mail-link {
	display: inline-block;
	padding: 6px 0 0 85px;
	text-decoration: none;
	font-size: 1.125rem;
	line-height: 1;
	color: $font-color-1;
	vertical-align: top;
	@include transition($prop, $time, $funct);
	&:hover {
		color: #656567;
	}
}

// .footer__phone-link {
// 	display: inline-block;
// 	text-decoration: none;
// 	font-size: 1.5625rem;
// 	line-height: 1;
// 	color: $font-color-1;
// 	@include transition($prop, $time, $funct);
// 	&:hover {
// 		color: #656567;;
// 	}
// }

.footer-info {
	padding-top: 30px;
	border-top: 1px solid #656567; 
}

.copyright {
	display: inline-block;
	width: 100%;
	color: #656567;
	font-size: 0.75rem;
	text-align: left;
}