@font-face {
	font-family: GothaPro;
	src: url('../fonts/GothamProRegular.eot'),
	url('../fonts/GothaProReg.otf') format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GothaPro; 
	src: url('../fonts/GothamProBold.eot'),
	url('../fonts/GothaProBol.otf') format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: GothaPro;
	src: url('../fonts/GothamProMedium.eot'),
	url('../fonts/GothaProMed.otf') format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: GothaPro;
	src: url('../fonts/GothamProLight.eot'),
	url('../fonts/GothaProLig.otf') format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: GothaPro;
	src: url('../fonts/GothamProBlack.eot'),
	url('../fonts/GothaProBla.otf') format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?i8ffsz');
	src:  url('../fonts/icomoon.eot?i8ffsz#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?i8ffsz') format('truetype'),
	url('../fonts/icomoon.woff?i8ffsz') format('woff'),
	url('../fonts/icomoon.svg?i8ffsz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// .icon-vk:before {
//   content: "\e900";
// }
// .icon-facebook:before {
//   content: "\ea90";
// }
// .icon-twitter:before {
//   content: "\ea96";
// }


* {
	@include box-sizing;
}



html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: $main-font;
	font-size: $font-size;
	font-weight: 400;
	line-height: $font-height;
	color: $font-color-2;
	background: #ffffff;
	@include transition(overflow, 1s, $funct);
}

body {
	overflow-x: hidden;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

h2 {
	font-size: 1.75rem;
	font-weight: bold;
}

li {
	list-style-type: none;
}

/*   sitephone   */
.sitephone {
	position: fixed;
	bottom: 60px;
	right: 50px;
	width: 60px;
	height: 60px;
	line-height: 4;
	background: #316bdd;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 4;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
	@include transition(box-shadow, 1.5s, $funct);
	img {
		width: 35px;
		transform: scale(-1, 1);
	}
}

p.sitephone-descr {
	position: fixed;
	z-index: 3;
	opacity: 0;
	bottom: 60px;
	right: 60px;
	width: 0;
	font-size: 0;
	height: 60px;
	padding: 10px 0 0 15px;
	background: #5f85ff;
	color: $font-color-1;
	text-align: left;
	line-height: 20px;
	border-radius: 30px;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
	@include transition($prop, 0.5s, $funct);
}


/*   modal windows   */

.modal-window-wrap {
	position: fixed;
	top: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0, 0.5);
	z-index: -1;
	opacity: 0;
	@include transition($prop, 0.5s, $funct);
}

.modal-window-cnt{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.modal-window {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 680px;
	padding: 50px 100px 50px;
	width: 576px;
	transform: translate(-75%,-50%);
	background: $font-color-1;
	text-align: left;
	opacity: 0;
	@include transition($prop, 0.5s, $funct);
	h3 {
		font-size: 1.75rem;

	}
	p {
		margin: 20px 0;
		color: #b3b3b3;
		line-height: 1.25rem;
	}
	button.modal-close {
		position: absolute;
		left: 90%;
		top: 2%;
		width: 25px;
		height: 25px;
		background: none;
		border: none;
		outline: none;
		font-size: 1.25rem;
	}
}

.modal-window .form-cnt {
	height: auto;

	label {
		display: inline-block;
		width: 100%;
		font-size: 0.875rem;
		&:last-of-type {
			width: auto;
			padding-left: 10px;
			font-size: 0.75rem;
			vertical-align: middle;
			a {
				text-decoration: none;
				color: $color-theme;
			}
		}
	}

	input {
		display: block;
		width: 100%;
		padding: 13px 10px;
		border: 1px solid #7b96cd;

		&::-webkit-input-placeholder {color: #d8d7de;}
		&::-moz-placeholder          {color: #d8d7de;}/* Firefox 19+ */
		&:-moz-placeholder           {color: #d8d7de;}/* Firefox 18- */
		&:-ms-input-placeholder      {color: #d8d7de;}
		&:-o-input-placeholder       {color: #d8d7de;}	
	}
	input.agreement-check {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	button {
		display: block;
		width: 100%;
		height: 50px;
		margin-top: 50px;
		background: $color-theme;
		color: $font-color-1;
		font-size: 1rem;
		text-transform: uppercase;
		border: none;
		outline: none;
		border-radius: 4px;
		&:hover {
			background: $color-hover-link1;
		}
	}
}



.input-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 10px 0 25px;
}


input:focus{outline: none;}



.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-7 ~ .focus-border:after{top: auto; bottom: 0;}
.effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after{content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.6s;}
.effect-7 ~ .focus-border i:after{left: auto; right: 0;}
.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after{left: 0; width: 100%; transition: 0.4s;}
.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after{top: 0; height: 100%; transition: 0.6s;}


.let-message {
	opacity: 0;
	z-index: 15;
	position: fixed;
	width: 465px;
	top: 10px;
	right: 10px;
	transform: translateX(140%);
	background: #ffffff;
	padding: 30px 10px;
	border-radius: 4px;
	box-shadow: 0 0 30px rgba(51,51,51, 0.15);
	transition: opacity 1s ease, transform 0.75s ease;
	&.error {
		width: 350px;
	}
	&.error.show,
	&.successful.show,
	&.successful-cart.show {
		opacity: 1;
		// z-index: 15;
		transform: translateX(0);
	}
	span, img {
		vertical-align: middle;
	}
	img {
		width: 30px;
		height: 30px;
		margin-left: 10px;
	}
}


/*   MEDIA   */
@media (max-width: 1023px) {
	.sitephone {
		display: none;
	}
	p.sitephone-descr {
		display: none;
	}

	// .let-message {
	// 	&.error.show,
	// 	&.successful.show,
	// 	&.successful-cart.show {
	// 		transform: translateX(-25%);
	// 	}
	// }
}

@media (max-width: 767px) {
	// .let-message.show {
	// 	&.error.show,
	// 	&.successful.show,
	// 	&.successful-cart.show {
	// 		transform: translateX(-50%);
	// 	}
	// }
}

@media (max-width: 575px) {

	html,body {
		font-size: 13px; 
	}

	h1, h2, h3 {
		line-height: 1.2;
	}

	.modal-window {
		width: 100%;
		max-width: 100%;
		max-width: 100vh;
		overflow: auto;
		padding: 130px 15% 0;
		form button {
			margin-top: 30px;
		}
		button.modal-close {
			top: 100px;
			left: 85%;
			font-size: 1.5rem;
		}
		.form-cnt label:last-of-type { 
			width: 80%;
			font-size: 0.875rem;
		}

		.form-cnt button {
			margin-top: 25px;
		}

		.form-cnt {
			.input-wrap {
				margin: 10px 0 15px;
			}
		}
	}

	.let-message {
		width: 300px;
	}

	.let-message.error {
		width: 300px;
	}

}