 
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: -30px;
	text-align: left;
	z-index: 101;
	-webkit-backface-visibility: hidden;
	@include transition($prop, $time, $funct);
}

.header-descr {
	width: 100%;
	margin: 0 auto;
	background: #202224;
	color: $font-color-1;
	font-size: 0.8125rem;
	line-height: 1.875rem;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	p {
		display: inline-block;
		margin: 0;
	}
	span {
		color: #f2b446;
	}
	button {
		float: right;
		width: 30px;
		height: 30px;
		background: transparent;
		color: #4a4f53;
		border: none;
		outline: none;
		&:before {
			font-size: 1.5rem;
			padding-bottom: 5px;
			vertical-align: bottom;
		}
	}
}

header.open {
	margin-top: 0;
}

.container.header-cnt {
	font-size: 0;
	text-align: left;
	color: $font-color-1;
}

.header-logo {
	display: inline-block;
	width: 141px;
	padding:  0;
	width: 17%;
	vertical-align: middle;
	a {
		display: inline-block;
		display: inline-flex;
	}
	img {
		width: 141px;
		height: 37px;
		margin: 20px 0 19px;
	}
}

.header-contact {
	display: inline-block;
	vertical-align: middle;
	span {
		display: block;
		line-height: 1;
	}
}

.number {
	margin-bottom: 5px;
	color: $font-color-1;
	text-decoration: none;
	font-size: 1.3125rem;
	font-weight: bold;
}

.schedule {
	font-size: 0.75rem;
}

.section-1__nav {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	.nav-menu {
		padding: 0;
		text-align: center;
	}
	
	li.menu-list {
		position: relative;
		display: inline-block;
		font-weight: bold;
		font-size: 0.75rem;
		cursor: pointer;
		vertical-align: middle;
		@include transition($prop, $time, $funct);
		&:not(:first-child) {
			margin-left: 30px;
		}
		&:last-child {
			margin-right: 25px;
		}
		a {
			display: inline-block;
			padding: 15px 0;
			color: $font-color-1;
			text-decoration: none;
			text-transform: uppercase;
			@include transition(color, 0.3s, $funct);
		}

		&:hover a,
		&:hover span {
			color: #5990ff;
		}
	}
}

.section-1__nav li.menu-list:nth-child(3) {
	margin-left: 40px;
}

span.ion-ios-arrow-down,
span.ion-ios-arrow-up {
	position: relative;
	display: block;
	max-width: 160px;
	margin: 0 auto;
}

span.ion-ios-arrow-down:before { 
	position: absolute;
	top: 17px;
	left: 108%;
	font-size: 1rem;
}

span.ion-ios-arrow-up:before { 
	position: absolute;
	top: 17px;
	left: 108%;
	font-size: 1rem;
}


/*__________submenu__________   */

li.menu-list ul.sub-menu {
	opacity: 0;
	position: absolute;
	top: 95%;
	left: -15px;
	width: 250px;
	padding: 25px 0 0 10px;
	background: $font-color-1;
	text-align: left;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	transform: scale(0);
	z-index: 3;
	transition: transform 0.01s $funct, opacity 1s $funct;


	li.sub-menu__list {
		display: block;
		margin: 0 0 15px;
		line-height: 1.33333;
		@include transition($prop, $time, $funct);
		&:hover a{
			color: $font-color-2;
		}
		a {
			padding: 0;
			text-decoration: none;
			text-transform: none;
			font-size: 0.9375rem;
			font-weight: 400;
			color: #75797f;
		}
	}
}

li.menu-list:hover ul.sub-menu  {
	// top: 75%;
	opacity: 1;
	transform: scale(1);
}

li.menu-list ul.sub-menu.catalog {
	left: -80px;
}

.sitephone__media-768 {
	display: none;
	position: absolute;
	top: 13px;
	left: 10;
	width: 50px;
	height: 50px;
	line-height: 2.4;
	font-size: 25px;
	text-align: center;
	border-radius: 50%;
	background: #316bdd;
	z-index: 4;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
	img {
		width: 27px;
		transform: scale(-1, 1);
	}
}


button.media-768 {
	display: none;
	position: absolute;
	top: 13px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: #316bdd;
	color: #ffffff;
	line-height: 1;
	z-index: 4;
	border: none;
	border-radius: 2px;
	outline: none;
	box-shadow: 0 10px 20px rgba(49,107,221, 0.35);
	span{
		display: block;
		transition: all 0.3s ease;
	}
	span.line {
		width: 25px;
		height: 3px;
		background-color: #ffffff;
		display: block;
		margin: 5px auto;
	}
}
.but-menu-icon.active {
	transition: all 0.2s ease-in-out;
	transition-delay: 0.4s;
	transform: rotate(45deg);
}

.but-menu-icon.active .line:nth-child(2){
	width: 0px;
}

.but-menu-icon.active .line:nth-child(1),
.but-menu-icon.active .line:nth-child(3){
	transition-delay: 0.2s;
}

.but-menu-icon.active .line:nth-child(1){
	transform: translateY(8px);
}

.but-menu-icon.active .line:nth-child(3){
	transform: translateY(-8px) rotate(90deg);
}


.header-contact.media-768 {
	display: none;
	vertical-align: middle;
	width: 360px;
	padding: 35px 0;
	margin: auto;
	border-top: 1px solid #ebebeb;
	span {
		display: block;
		line-height: 1;
	}

	.number {
		margin-bottom: 5px;
		text-decoration: none;
		font-size: 1.3125rem;
		font-weight: bold;
	}

	.schedule {
		font-size: 0.75rem;
	}
	a, span {
		color: #000000;
	}
}

.nav-wrap {
	display: inline-block;
	width: 67%;
	text-align: right;
}

.sitephone__media-768-descr,
.but__media-768-descr {
	display: none;
	position: absolute;
	top: 30px;
	color: #000000;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 4;
}
.sitephone__media-768-descr {
	left: 10%;
}
.but__media-768-descr {
	right: 10%;
}



header.bg-show {
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	.section-1__nav li.menu-list a,
	.header-contact,
	a.number,
	.arrow-button-services.ion-ios-arrow-down,
	.arrow-button-catalog.ion-ios-arrow-down {
		color: #000000;
	}
	.section-1__nav li.menu-list a:hover {
		color: #5990ff;
	}
	li.sub-menu__list a {
		color: #75797f;
		&:hover {
			color: #000000;
		}
	}
	li.sub-menu__list a:hover {
		color: #000;
	}

}


header.mobile {
	@include box-shadow;
	background: #ffffff;

	.header-descr {
		position: relative;
		z-index: 3;
		p {
			font-size: 0.6875rem;
		}
		button {
			display: none;
		}
	}

	.container.header-cnt {
		position: relative;
	}

	.sitephone__media-768 {
		display: block;
	}

	.header-logo {
		position: relative;
		z-index: 3;
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: #ffffff;
	}

	.nav-wrap {
		position: fixed;
		top: -100vh;
		left: 0;
		display: inline-block;;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background: #ffffff;
		z-index: 2;
		text-align: center;
		transform: translateY(-100%);
		// transform: scaleY(0);
		z-index: -1;
		transition: all 0.7s ease;
	}

	.nav-wrap.open {
		transform: translateY(0);
		// transform: scaleY(1);
		top: 0;
		z-index: auto;
	}

	.section-1__nav {
		width: 100%;
		margin: 0;
	}

	.header-contact.media-768 {
		display: block;
	}

	.section-1__nav ul.nav-menu {
		margin-top: 108px;
		text-align: center;
		border-top: 1px solid #ebebeb;
	}
	.section-1__nav li.menu-list {
		display: block;
		margin: 0 auto;
		padding: 25px 0;
		background: #ffffff;
		a {
			color: #000000;
			line-height: 1;
			&:hover {
				color: #000000;
			}
		}
	}

	span.ion-ios-arrow-down:before {
		position: absolute;
		top: -1px;
		left: 155px;
		font-size: 1.5rem;
		color: #316bdd;
		padding: 10px;
	}

	.arrow-button-services, 
	.arrow-button-catalog {
		left: 30px;
		&:before {
			transition: all 0.5s ease;
		}
	}

	.arrow-button-services.active:before, 
	.arrow-button-catalog.active:before {
		transform: rotate(180deg);
	}


	li.menu-list.sub-menu {
		transition: margin 0.3s ease;
	}

	li.menu-list.sub-menu.services.open {
		margin-bottom: 14rem;
	}	
	li.menu-list.sub-menu.catalog.open {
		margin-bottom: 5.5rem;
	}

	li.menu-list ul.sub-menu {
		// position: absolute;
		opacity: 1;
		left: 0;
		// display: none;
		width: 100%;
		list-style: none;
		padding: 0;
		text-align: center;
		box-shadow: none;
		transform: translateY(-100%);
		transition: all 0.3s ease;
		z-index: -1;
		a {
			text-transform: uppercase;
			font-size: 0.75rem;
		}
		li.sub-menu__list {
			margin: 35px 0 0 0;
			&:nth-of-type(1) {
				margin-top: 10px;
			}
		}
	}

	li.menu-list ul.sub-menu.services.open {
		transform: translateY(0);
	}	
	li.menu-list ul.sub-menu.catalog.open {
		transform: translateY(0);
	}

	.header-contact.media-768 {
		width: 100%
	}

	.sitephone__media-768-descr,
	.but__media-768-descr {
		display: block;
	}
} 


/*   MEDIA   */

@media (max-width: 1199px) {
	.header-contact {
		display: none;
	}
	.container.header-cnt {

	}

	.nav-wrap {
		width: 83%;
	}

	.section-1__nav {
		margin-left: 0;
	}


	.nav-menu {
		padding: 0;
	}

	.section-1__nav {
		width: auto;
		margin-left: 2.5%;
	}
}

@media (max-width: 1023px) {

	button.media-768 {
		display: block;
	}

	span.ion-ios-arrow-down:before {
		font-size: 1.5rem;
	}

	.section-1__nav.show {
		display: block;
	}
}

@media (max-width: 767px) {

	span.ion-ios-arrow-down:before {
		font-size: 1.7rem;
	}

	header.mobile {
		.header-descr p {
			font-size: 0.5rem;
		}

		.sitephone__media-768-descr,
		.but__media-768-descr {
			display: none;
		}

		.section-1__nav li.menu-list {
			padding: 15px 0;
		}

		li.menu-list ul.sub-menu li.sub-menu__list {
			margin-top: 30px;
		}

		li.menu-list.sub-menu.services.open {
			margin-bottom: 13rem;
		}	
	}
}

@media (max-width: 575px) {
	.sitephone__media-768 {
		left: 10px;
		top: 13px;
	}

	button.media-768 {
		right: 10px;
		top: 13px;
	}

	header.mobile {
		.header-descr {
			display: none;
		}
		.section-1__nav ul.nav-menu {
			margin-top: 76px;
		}
		.section-1__nav li.menu-list {
			padding: 10px 0;
			a {
				font-size: 1rem;
			}
		}
		// .section-1__nav ul.nav-menu {
		// 	margin-top: 68px;
		// }
		li.menu-list ul.sub-menu a {
			font-size: 0.85rem;
		}
		.header-descr p {
			font-size: 0;
		}

		.header-logo a {
			margin-right: 10px;
		}

		li.menu-list.sub-menu.services.open {
			margin-bottom: 15rem;
		}		
		li.menu-list.sub-menu.catalog.open {
			margin-bottom: 7rem;
		}

		span.ion-ios-arrow-down:before {
			top: 1px;
			left: 150px;
			font-size: 1.7rem;
		}
	}
}