@charset "utf-8";


/*   SECTION-1   */

.section-1 {
	min-height: 590px;
	position: relative;
	overflow: hidden;

	padding: 150px 0 50px;
	text-align: left;
	background: url(../images/Main.jpg) no-repeat center center;
	background-size: cover;
	color: $font-color-1;
	a {
		position: relative;
		display: inline-block;
		padding: 14px 50px 14px 25px;
		background: $color-theme;
		text-decoration: none;
		color: $font-color-1;
		font-size: 0.875rem;
		text-transform: uppercase;
		border-radius: 4px;
		@include transition(background, $time, $funct);
		&:hover {
			background: $color-hover-link1;
		}
	}
	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0, 0.3);
	}
}

.link.ion-ios-arrow-right:before {
	position: absolute;
	top: 26%;
	right: -10px;
	transform: translateX(-30px); 
	content: "\f3d3";
	font-size: 1.5rem;
	color: $font-color-1;
	@include transition(transform, 0.2s, ease-out);
}	

.link.ion-ios-arrow-right:hover:before {
	transform: translateX(-25px);
}

.section-1__title {
	position: relative;
	padding-bottom: 70px; 
	font-size: 3rem;
	line-height: 1;
}

.section-1__title:after {
	content: "";
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 50px;
	height: 3px;
	background: $font-color-1;
}

.section-1__title-descr {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 50px; 
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
}


/*   banner   */
.banner {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0,-50%);
	width: 40%;
	padding: 20px 30px;
	background: rgba( 32,34,36,1 );
	color: $font-color-1;
	text-align: left;
	border-radius: 4px;
	p {
		max-width: 425px;
		width: 87%;
		margin: 0 auto 18px 0;
		font-size: 0.8125rem;
		text-transform: uppercase;
		span {
			color: #f2b446;
		}
	} 
}

.sigma-logo {
	display: inline-block;
	width: 125px;
	img {
		height: 30px;
	}
}

.lg-logo {
	display: inline-block;
	width: 65px;
	margin-left: 45px;
	img {
		height: 30px;
	}
}
/*___________________ */


/*   SECTION-2   */

.section-2 {
	padding: 45px 0;
	font-size: 0;
	text-align: left;
	.col-3 {
		margin-bottom: 50px;
	}
}

.section-2__title {
	padding-bottom: 45px;
}

.section-2__icon {
	position: relative;
	display: inline-block;
	width: 30%;
	min-width: 70px;
	max-width: 70px;
	height: 70px;
	margin-right: 6.6666%;
	background: $color-theme;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 60%;
		vertical-align: middle;
	}
}


// .section-2__icon.icon-2 {
// 	margin-left: 25px;
// }

// .section-2__icon.icon-3 {
// 	margin-left: 50px;
// }

// .section-2__icon.icon-4 {
// 	margin-left: 23.3333%;
// }


img.icon-1 {
	width: 40%;
	left: 55%;
}

img.icon-4 {
	width: 45%;
}

img.icon-5 {
	width: 40%;
}

img.icon-6 {
	width: 40%;
}


.section-2__serv {
	display: inline-block;
	width: 44.6666%;
	margin: auto;
	font-size: 1rem;
	text-align: left;
	vertical-align: middle;
	color: $font-color-3;
}


/*   SECTION-3   */

.section-3 {

	.row.margin-bottom {
		margin-bottom: 20px; 
	}
	.col-6 {
		position: relative;
		p {
			position: absolute;
			bottom: 10%;
			left: 25px;
			margin: 0;
			color: $font-color-1;
			z-index: 1;
			font-size: 1.1875rem;
			font-weight: 500;
			text-align: left;
			z-index: 2;
		}
		img {
			display: block;
			@include transition($prop, 0.3s, $funct)
		}
	}
}

.section-3__title {
	padding-bottom: 45px;
	text-align: left;
}

.col-6.tech-service {
	max-height: 550px;
	height: 100%;
	img {
		transform: translate(-230px,0);
	}
	p {
		left: 50px;
		font-size: 1.6875rem;
		font-weight: 500;
	}
	&:hover img {
		transform: translate(-270px,0);
	}
	// &:hover .section-3__item:after {
	// 	background: rgba(89,144,255, 0.2);
	// }
}

.section-3__item {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	max-height: 550px;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.3);
		// z-index: 1;		
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent) !important;
		-webkit-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
		-moz-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
		-ms-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
		-o-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
		
	}
	// a {
	// 	display: block;
	// }
}

.section-3__item.height--265 {
	max-height: 265px;
	height: 100%;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0, 0.2);
		z-index: 1;		
	}
}

.emer-dispatch {
	max-height: 265px;
	height: 100%;
	img {
		width: 180%;
		height: auto;
		transform: translate(-110px,-60px);
	}
	&:hover img {
		transform: translate(-150px,-60px);
	}
	// &:hover .section-3__item:after {
	// 	background: rgba(89,144,255, 0.2);
	// }
}


.dispatch {
	max-height: 265px;
	height: 100%;
	// box-shadow: 0 1px 5px rgba(0,0,0, 0.5);
	img {
		width: 150%;
		height: auto;
		transform: translate(-100px,-35px);
	}
	&:hover img {
		transform: translate(-140px,-35px);
	}
	// &:hover .section-3__item:after {
	// 	background: rgba(89,144,255, 0.2);
	// }
}

.modern {
	max-height: 265px;
	height: 100%;
	img {
		width: 150%;
		height: auto;
		transform: translate(-70px,0);
	}
	&:hover img {
		transform: translate(-110px,0);
	}
	// &:hover .section-3__item:after {
	// 	background: rgba(89,144,255, 0.2);
	// }
}

.repairs {
	max-height: 265px;
	height: 100%;
	img {
		width: 160%;
		transform: translate(-90px,-25px);
	}
	&:hover img {
		transform: translate(-130px,-25px);
	}
	// &:hover .section-3__item:after {
	// 	background: rgba(89,144,255, 0.2);
	// }
}

/*   SECTION-4   */

.section-4 {
	min-height: 500px;
	padding-top: 75px;
	overflow: hidden;
}

.slick-slider .slick-list {
	outline: none;
}

.equipment__slider {
	width: 100%;
}

.slick-dots.dots-equipment {
	position: absolute;
	top: 260px;
	right: 0;
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	text-align: center;
	z-index: 2;
}

.slick-dots.dots-equipment li {
	margin: 0;
}

.slick-dots.dots-equipment li button:before {
	content: "";
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: #a0a0a0;
	border-radius: 50%;
	opacity: 1;
}

.equipment__icons {
	position: relative;
	height: 120px;
	img {
		position: absolute;
		margin: auto;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		@include transition($prop, $time, $funct);
	}
	&:hover img{
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
}


.section-4__title {
	padding-bottom: 45px;
	text-align: left;
}

.section-4 .media-1024-show {
	display: none;
}




/*   SECTION-5   */

.section-5 {
	position: relative;
	padding: 100px 0;
	background: #57459b;
	color: $font-color-2;
	text-align: left;
	background: #f7f8fa;
	overflow: hidden;

	h2 {
		margin: 50px 0 30px 25px;
		padding-right: 12.5%;
		line-height: 2.1875rem;
	}
	p {
		margin: 0 0 30px 25px;
		padding-right: 12.5%;

		&:last-of-type {
			margin-bottom: 40px;
		}
	}
	a {
		position: relative;
		display: inline-block;
		margin-left: 25px;
		padding: 14px 50px 15px 25px;
		text-decoration: none;
		background: $color-theme;
		color: $font-color-1;
		font-size: 0.875rem;
		text-transform: uppercase;
		border-radius: 4px;
		@include transition(background, $time, $funct);
		&:hover {
			background: $color-hover-link1;
		}
	}
	.col-4 {
		height: 540px;
		background: #fff;
		margin-left: -10px;
	}
}

.section-5__link.ion-ios-arrow-right:before {
	position: absolute;
	top: 24%;
	right: 0;
	transform: translateX(-20px); 
	content: "\f3d3";
	font-size: 1.5rem;
	color: $font-color-1;
	@include transition(transform, 0.2s, ease-out);
}	

.section-5__link.ion-ios-arrow-right:hover:before {
	transform: translateX(-15px);
}



/*   SLIDER section-5   */

.section-5__slider-wrapper {
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		background: rgba(0,0,0, 0.3);
	}
}

.section-5__slider {
	top: 0;
	right: 0;
	width: 100%;
	height: 540px;
	margin: 0 auto;

	.slider__img {
		width: 100%;
		height: 540px;
		overflow: hidden;
		.slider__img-descr {
			position: absolute;
		}
	}
}

.slider__img.slide-1 {
	background: url(../images/bc.jpg) no-repeat center center;
	background-size: cover;
}
.slider__img.slide-2 {
	background: url(../images/tc.jpg) no-repeat center center;
	background-size: cover;
}
.slider__img.slide-3 {
	background: url(../images/lc.jpg) no-repeat center center;
	background-size: cover;
}

.slick-dotted.slick-slider {
	margin: 0;
}

.slick-dots {
	position: absolute;
	bottom: 7%;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	z-index: 2;
}

.slick-dots li {
	margin: 0;
}

.slick-dots li button:before {
	content: "";
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: #a0a0a0;
	border-radius: 50%;
	opacity: 1;
}
.section-5__slider-wrapper{

	.slick-dots li.slick-active button:before {
		background: #fff;
		opacity: 1;
	}
}

.slider-descr {
	position: absolute;
	display: inline-block;
	width: 250px;
	text-align: center;
	bottom: 13%;
	right: 50%;
	font-size: 1.125rem;
	color: #fff;
	transform: translateX(50%);
	z-index: 2;
}


/*   SECTION-6   */

.section-6 {
	// position: relative;
	padding: 70px 0;
	overflow: hidden;
	a {
		position: relative;
		display: inline-block;
		padding: 14px 50px 15px 25px;
		background: $color-theme;
		text-decoration: none;
		color: $font-color-1;
		font-size: 0.875rem;
		text-transform: uppercase;
		border-radius: 4px;
		@include transition($prop, $time, $funct);
		&:hover {
			background: $color-hover-link1;
		}
	}
}

.section-6__title {
	text-align: left;
}

.section-6__link.ion-ios-arrow-right:before {
	position: absolute;
	top: 24%;
	right: 0;
	transform: translateX(-20px); 
	content: "\f3d3";
	font-size: 1.5rem;
	color: $font-color-1;
	@include transition(transform, 0.2s, ease-out);
}	

.section-6__link.ion-ios-arrow-right:hover:before {
	transform: translateX(-15px);
}


/*   SLIDER section-6   */

.section-6__slider-cnt {
	width: 100%;
	// position: absolute;	
}

.section-6__slider {
	margin-bottom: 15px;
	width: 100%;
	.slider__img {
		position: relative;
		max-width: 380px !important;
		width: 100%;
		max-height: 220px;
		height: 100%;
		margin: 50px 10px 50px 10px;
		overflow: hidden;
		border-radius: 5px;
		cursor: pointer;
		@include box-shadow;
		// &:first-of-type {
		// 	margin-left: 0;
		// }
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent) !important;
			-webkit-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
			-moz-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
			-ms-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent);
			-o-background: linear-gradient(to top, rgba(0,0,0, 0.3), transparent); 
		}
		span {
			position: absolute;
			bottom: 5%;
			left: 20px;
			font-size: 1rem;
			color: $font-color-1;
		}
	}
}

.slick-list {
	overflow: visible;
}

.slick-prev {
	left: 46%;
	top: 84%;
	width: 50px;
	height: 50px;
	background: $font-color-1;
	border-radius: 50%;
	z-index: 1;
	@include box-shadow;
}

.slick-next {
	right: 0;
	left: 52%;
	top: 84%;
	width: 50px;
	height: 50px;
	background: $font-color-1;
	border-radius: 50%;
	z-index: 1;
	@include box-shadow;
}


.slick-prev:before,
.slick-next:before {
	color: #000;
	opacity: 1;
}

.slick-prev.slick-disabled, 
.slick-next.slick-disabled {
	opacity: 0.5;
}

.slick-prev.slick-disabled:hover, 
.slick-prev.slick-disabled:focus, 
.slick-next.slick-disabled:hover, 
.slick-next.slick-disabled:focus {
	opacity: 0.5;
}

// .ion-ios-arrow-left:before { 
// 	content: "\f3d2";
// 	font-size: 1.5rem;
// 	color: $font-color-2;
// }
// .ion-ios-arrow-right:before {
// 	content: "\f3d3";
// 	font-size: 1.5rem;
// 	color: $font-color-2; 
// }

.slick-prev:hover, 
.slick-prev:focus, 
.slick-next:hover, 
.slick-next:focus {
	background: $font-color-1;
	opacity: 1;
}

.slick-prev:active,   
.slick-next:active {
	background: $font-color-1;
	opacity: 0.5;
}


/*   SECTION PERFECT-SERVICE   */

// .section__perfect-service {
// 	padding: 55px 0 75px;
// 	text-align: left;
// 	h2 {
// 		margin-top: 85px;
// 	}
// 	p {
// 		margin-bottom: 50px;
// 	}
// 	a {
// 		position: relative;
// 		display: inline-block;
// 		padding: 14px 50px 15px 25px;
// 		text-decoration: none;
// 		background: $color-theme;
// 		color: $font-color-1;
// 		font-size: 0.875rem;
// 		text-transform: uppercase;
// 		border-radius: 3px;
// 		@include transition(background, $time, $funct);
// 		&:hover {
// 			background: $color-hover-link1;
// 		}
// 	}
// }

// .perfect-service__link.ion-ios-arrow-right:before {
// 	position: absolute;
// 	top: 24%;
// 	right: 0;
// 	transform: translateX(-20px); 
// 	content: "\f3d3";
// 	font-size: 1.5rem;
// 	color: $font-color-1;
// 	@include transition(transform, 0.2s, ease-out);
// }

// .perfect-service__link.ion-ios-arrow-right:hover:before {
// 	transform: translateX(-15px);
// }

// .perfect-service__title {
// 	padding: 0 0 25px;
// }

// .perfect-service-img {
// 	position: relative;
// 	text-align: center;
// 	// min-height: 530px;
// 	h1 {
// 		position: relative;
// 		z-index: 1;
// 		display: inline-block;
// 		margin: auto;
// 		font-size: 450px;
// 		color: $font-color-1;
// 		text-shadow: 0 10px 30px rgba(49,107,221, 0.1);
// 		line-height: 1;
// 	}
// 	img {
// 		position: absolute;
// 	}
// 	img.lift-img {
// 		z-index: 2;
// 		top: 0;
// 		left: 50%;
// 		transform: translateX(-50%);
// 	}
// 	img.perfect-service-bg {
// 		top: 14%;
// 		left: 50%;
// 		transform: translateX(-50%);
// 	}
// }


/*   SECTION-7   */

.section-7 {
	position: relative;
	color: $font-color-1;
	min-height: 650px; 
}

.section-7 .container {
	position: relative;
}

.section-7__link {
	position: relative;
	display: inline-block;
	padding: 14px 50px 14px 25px;
	background: rgba(250,250,250, 0.7);
	text-decoration: none;
	color: $font-color-2;
	font-size: 0.875rem;
	text-transform: uppercase; 
	border-radius: 4px;
	z-index: 1;
	@include transition(color, $time, $funct);
	@include transition(background, $time, $funct);
	&:hover {
		background: $font-color-1;
	}
}

.section-7__link.ion-ios-arrow-right:before {
	position: absolute;
	top: 24%;
	right: 0;
	transform: translateX(-20px); 
	content: "\f3d3";
	font-size: 1.5rem;
	color: $font-color-2;
	@include transition(transform, 0.2s, ease-out);
}	

.section-7__link.ion-ios-arrow-right:hover:before {
	transform: translateX(-15px);
}

.section-7__title {
	text-align: left;
	color: $font-color-2;
}

.section-7__cnt {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1180px;
	width: 100%;
	min-height: 620px;
	margin: 50px auto 70px;
	padding-bottom: 45px;
	background: url(../images/LS_today.jpg) no-repeat top center;
	background-size: 100% auto;
	@include box-shadow;
	border-radius: 4px;
	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0, 0.2);
	}
	.row {
		position: relative;
		z-index: 1;
	}
}

.section-7__banner {
	text-align: left;
	padding-top: 45px;
	p {
		margin: 0 0 25px 0;
		padding-right: 35px;
	}

}

.section-7__partner-banner {
	text-align: left;
	p {
		margin: 40px 0 25px;
	}
}

a.section-7__partner-logo {
	display: inline-flex;
	padding: 0;
	background: none;
	border: none;
	img {
		width: 95px;
		height: 60px;
	}
}

.section-7__experience-works {
	padding: 25px 0 50px;
	text-align: left;
	.col-2:nth-of-type(2) {
		text-align: right;
	}
	.col-2:nth-of-type(3) {
		text-align: center;
	}
	span {
		font-size: 2.25rem;
		font-weight: bold;
	}
	p {
		display: inline-block;
		line-height: 1.25;
	}
}

.align-text--left {
	display: inline-block;
	width: 70%;
	text-align: left;
}

.section-7__experience-years {
	padding: 100px 0 0 35px;
	text-align: left;
}

.section-7__years {
	font-size: 9.25rem;
	font-weight: bold;
	line-height: 1;
}

.section-7__years-descr {
	font-size: 1.1875rem;
}



/*   SECTION-8   */

.section-8 {
	background: #f7f8fa;
	padding: 160px 0 75px;
	.row {
		padding-bottom: 30px;
	}
}


.section-8__title {
	padding-bottom: 50px;
}

.section-8__item {
	min-height: 380px;
	margin-bottom: 50px;
	p {
		text-align: left;
		margin: 20px 0 0;
		line-height: 1.25rem;
	}
}

.section-8__img {
	position: relative;
	height: 280px;
	border-radius: 5px;
	background: #fff;
	font-size: 0;
	cursor: pointer;
	&:hover .section-8__hover-img {
		opacity: 1;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		opacity: 1;
	}
}

.section-8__hover-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	color: $font-color-1;
	opacity: 0;
	transition: opacity 0.5s ease;
	border-radius: 4px; 
	.more-img ,
	.order-img {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin: 85px auto 0;
		background: #fff;
		text-align: center;
		border-radius: 50%;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	.order-img {
		margin-left: 45px;
	}

	.more-img img,
	.order-img img{
		position: static;
		height: 40px;
		width: auto;
		transform: translate(0,50%);
		transition: all 0.5s ease;
	}
	span {
		display: inline-block;
		width: 50%;
		margin-top: 20px;
		font-size: 1rem;
		text-align: left;
		padding-left: 30px;
	}
}

// .stock:before {
// 	content: "-3%";
// 	display: block;
// 	position: absolute;
// 	top: 8%;
// 	right: 8%;
// 	padding: 6px 8px;
// 	color: $font-color-1;
// 	font-size: 1.125rem;
// 	background: #3d6ccb;
// 	line-height: 1;
// 	z-index: 1;
// 	border-radius: 5px;
// }

// .discount:before {
// 	content: "Акция";
// 	display: block;
// 	position: absolute;
// 	top: 8%;
// 	right: 8%;
// 	padding: 6px 8px;
// 	color: $font-color-1;
// 	font-size: 1.125rem;
// 	background: #cb6c3d;
// 	line-height: 1;
// 	z-index: 1;
// 	border-radius: 5px;
// }

.section-8__link-prop {
	display: inline-block;
	margin-right: 15px;
	padding: 14px 25px 14px 25px;
	background: transparent;
	text-decoration: none;
	color: #7e8594;
	font-size: 0.875rem;
	text-transform: uppercase;
	border: 1px solid $color-theme; 
	border-radius: 4px;
	@include transition(all, $time, $funct);
	&:hover {
		color: $font-color-1;
		background: #3071f2;
		border-color: transparent;
	}
}

.section-8__link-catalog  {
	position: relative;
	display: inline-block;
	padding: 15px 50px 15px 25px;
	background: $color-theme;
	text-decoration: none;
	color: $font-color-1;
	font-size: 0.875rem;
	text-transform: uppercase;
	border-radius: 4px;
	&:hover {
		background: $color-hover-link1;
	}
}

.section-8__link-catalog.ion-ios-arrow-right:before {
	position: absolute;
	top: 26%;
	right: 0;
	transform: translateX(-20px); 
	content: "\f3d3";
	font-size: 1.5rem;
	color: $font-color-1;
	@include transition(transform, 0.2s, ease-out);
}	

.section-8__link-catalog.ion-ios-arrow-right:hover:before {
	transform: translateX(-15px);
}

/*   SECTION-9   */

.section-9 {
	padding: 100px 0;
}

.section-9__img {
	text-align: left;
}

.phone-form {
	margin-top: 10px;
	text-align: left;
	h2 {
		margin-bottom: 15px;
	}
	p {
		font-size: 1.125rem;
		margin-bottom: 40px;
		text-align: left;
	}

	form{
		width: 100%;
	}

	label:not(:last-of-type) {
		display: inline-block;
		margin-bottom: 5px;
		cursor: pointer;
	}

	button {
		display: block;
		margin-top: 45px;
		background: $color-theme;
		padding: 13px 22px 14px 22px;
		outline: none;
		border: none;
		border-radius: 4px;
		color: $font-color-1;
		text-transform: uppercase;
		font-size: 0.875rem;
		transition: all 0.5s ease;
		&:hover {
			background: $color-hover-link1;
		}
	}

	input::-webkit-input-placeholder {color: #d8d7de;}
	input::-moz-placeholder          {color: #d8d7de;}/* Firefox 19+ */
	input:-moz-placeholder           {color: #d8d7de;}/* Firefox 18- */
	input:-ms-input-placeholder      {color: #d8d7de;}
	input:-o-input-placeholder      {color: #d8d7de;}	
}


input#data {
	display: inline-block;
	margin-right: 0;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
}

label.for-data {
	display: inline-block;
	font-size: 0.75rem;
	vertical-align: middle;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $color-theme;
	}
}

#name,
#phone {
	width: 100%;
	padding: 15px 10px;	
	border: 1px solid #7b96cd;  
	transition: 0.4s;
}

.section-9__input-decor {
	position: relative;
	display: inline-block;
	width: 62.5%;
	margin: 0 38% 25px 0;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	display: block;
	// 	width: 100%;
	// 	z-index: -1;
	// } 
}






/*__________MEDIA__________*/
@media (max-width: 1199px) {
	//   section-1

	.banner {
		display: none;
	}

	.section-1 {
		.col-7 {
			width: 66.6667%;
			margin-left: 8.3333%;
		}
	}

	.sitephone {
		right: 3.5%;
	}

   // section-2
   .section-2 {
   	padding-bottom: 0;
   }   

   // section-3   
   .section-3 {

   	.row.margin-bottom {
   		margin-bottom: 0;
   	}

   	.col-6 {
   		width: 100%;
   		margin-bottom: 20px;
   		img {
   			width: 105%;
   		}
   		p {
   			left: 50px;
   			font-size: 1.6875rem;
   		}
   	}

   	.col-6.tech-service {
   		max-height: 265px;
   		span {
   			max-height: 265px;
   		}
   	}

   	.col-6.tech-service {
   		img {
   			transform: translate(0,-180px);
   		}
   		&:hover img,
   		&:focus img,
   		&:active img {
   			transform: translate(-40px,-180px);
   		}
   	}

   	.emer-dispatch {
   		img {
   			transform: translate(0,-180px);
   		}
   		&:hover img,
   		&:focus img,
   		&:active img {
   			transform: translate(-40px,-180px);
   		}
   	}

   	.dispatch {
   		img {
   			transform: translate(0,-325px);
   		}
   		&:hover img,
   		&:focus img,
   		&:active img {
   			transform: translate(-40px,-325px);
   		}
   	}

   	.modern {
   		img {
   			transform: translate(0,-50px);
   		}
   		&:hover img,
   		&:focus img,
   		&:active img {
   			transform: translate(-40px,-50px);
   		}
   	}

   	.repairs {
   		img {
   			transform: translate(0,-360px);
   		}
   		&:hover img,
   		&:focus img,
   		&:active img {
   			transform: translate(-40px,-360px);
   		}
   	}

   }

//   section-4   
.section-4 {
	min-height: 530px;
	padding-top: 10px;
	.col-3 {
		width: 33.3333%;
	}
	.media-1024-show {
		display: block;
	}
	.media-1024-hide {
		display: none;
	}
	.slick-dots.dots-equipment {
		top: 380px;
	}
}

//   section-5
.section-5 {
	.col-8 {
		width: 53%;
	}
	.col-4 {
		width: 47%;
	}
	p, h2, a {
		margin-left: 80px;
	}
	p {
		padding-right: 16%;
	}
}

//section-6
.section-6 {
	.section-6__slider {
		width: 85.10638%;
	}
	.slick-prev {
		left: 52%;
	}
	.slick-next {
		left: 60%;
	}
}

//   section-7
.section-7 {
	.container {
		position: static;
	}
	.section-7__cnt {
		background-size: cover;
	}
	.col-5.col-offset-1 {
		margin: 0;
	}
	.col-2.col-offset-1 {
		margin: 0;
	}
	.section-7__experience-works .col-2 {
		width: 25%;
		text-align: left;
		&:first-of-type {
			padding-right: 35px;
		}
	}
}

//   section-8
.section-8 {
	.col-3 {
		width: 33.33333%;
	}
}

//   section-9
.section-9 {
	.col-6 {
		width: 58.33333%;
	}
}
.section-9__input-decor {
	width: 68.5%;
	margin: 0 31.5% 25px 0;
}
.section-9__img {
	margin-left: 8.33333%;
}

//   footer
footer {
	.col-6.footer__info {
		width: 41.66666%;
		text-align: left;
		.footer-logo {
			display: block;
		}
		.footer-descr {
			display: block;
			width: 100%;
			margin-top: 30px;
		}
		.company-group {
			margin-top: 30px;
		}
		.social-descr {
			margin-right: 30px;
		}
		.social-icon {
			margin-right: 30px;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	.footer__links {
		width: 50%;
	}
}
}


@media (max-width: 1023px) {
	//section-1
	.section-1 {
		min-height: 810px;
		padding-top: 200px;
		.col-7 {
			width: 91.6667%;
			margin-left: 8.3333%;
		}
	}

	//section-2
	.section-2 {
		.col-3 {
			width: 33.33333%;
		}
	}

	//section-3
	.section-3 {
		.col-6.tech-service {
			img {
				transform: translate(0,-140px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-140px);
			}
		}

		.emer-dispatch {
			img {
				transform: translate(0,-140px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-140px);
			}
		}

		.dispatch {
			img {
				transform: translate(0,-285px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-285px);
			}
		}

		.modern {
			img {
				transform: translate(0,-10px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-10px);
			}
		}

		.repairs {
			img {
				transform: translate(0,-235px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-235px);
			}
		}
	}
	//section-5
	.section-5 {
		p, h2, a {
			margin-left: 10px;
		}
	}

	//section-6
	.section-6 {
		.section-6__slider {
			width: 53.475936%;
		}
		.slick-prev {
			left: 79%;
		}
		.slick-next {
			left: 96%;
		}
	}

	//section-7
	.section-7 {

		.section-7__cnt {
			min-height: 820px;
			box-shadow: none;
			position: relative;
			top: 0;
			left: 0;
			transform: translateX(0);
			width: 100%;
			min-height: 620px;
			margin: 50px auto 0;
			padding-bottom: 45px;
			// background-size: auto 100%;
		}
		.col-5.col-offset-1 {
			width: 80%;
			margin: auto;
			float: none;
			padding-top: 225px;
			text-align: center;
		}
		.section-7__experience-years {
			position: absolute;
			top: 35px;
			width: 100%;
			float: none;
			padding: 0;
			text-align: center;
		}
		.section-7__banner {
			padding-top: 0;
			text-align: center;
			p {
				padding-right: 0;
			}
		}
		.section-7__partner-banner {
			text-align: center;
		}
	}

	//   section-8
	.section-8 {
		padding-top: 50px;

		.section-8__cnt {
			max-width: 600px; 
		}

		.section-8__item {
			width: 50%;
		}
	}

	//section-9
	.section-9 {
		padding-top: 50px;
		img {
			display: none;
		}
		.col-6.phone-form {
			width: 58.3333%;
			margin-left: 16.6667%;
			margin-top: 0;
		}
		.section-9__input-decor {
			width: 89%;
			margin-right: 11%;
		}
	}

	//   footer
	footer {
		position: relative;
		.footer__cnt {
			position: relative;
		}
		.col-6.footer__info {
			float: none;
			width: 66.6666%;
			margin: 260px auto 0;
			text-align: center;
		}
		.col-5.footer__links {
			position: absolute;
			top: 0;
			float: none;
			width: 100%;
			margin: 0;
			
			.col-3 {
				width: 25%;
			}
			.col-5 {
				width: 28%;
			}
			.col-4 {
				width: 25%;
				margin-left: 16%;
			}
		}

		.footer__support-info {
			padding-top: 35px;
			text-align: center;
		}
		.footer-logo {
			width: 100%;
			text-align: center;
		}
		.footer-descr {
			text-align: center;
		}
		.footer-descr.media-768__text-left {
			text-align: left;
		}
		.footer__mail-link {
			padding-left: 130px;
		}
		.social {
			text-align: center;
		}
		.footer-info {
			text-align: center;
			.col-6 {
				width: 100%;
			}
			.copyright {
				text-align: center;
			}
		}
	}
}

@media (max-width: 767px) {
	
	//   section-2
	.section-2 .col-3 {
		width: 50%;
	}

	//section-3
	.section-3 {
		.col-6.tech-service {
			img {
				transform: translate(0,-85px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-85px);
			}
		}

		.emer-dispatch {
			img {
				transform: translate(0,-75px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-75px);
			}
		}

		.dispatch {
			img {
				transform: translate(0,-130px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-130px);
			}
		}

		.modern {
			img {
				transform: translate(0,-10px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-10px);
			}
		}

		.repairs {
			img {
				transform: translate(0,-90px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-90px);
			}
		}
	}

	//   section-4   
	.section-4 {
		min-height: 530px;
		padding: 10px 0 100px;
		.col-3 {
			width: 50%;
		}
		.media-1024-show {
			display: none;
		}
		.media-1024-hide {
			display: block;
		}
		.slick-dots.dots-equipment {
			top: 500px;
		}
	}
	
	// section-5
	.section-5 {
		.col-8 {
			width: 100%;
			float: none;
			padding: 0;
		}
		.col-4 {
			width: 100%;
			height: 460px;
			float: none;
			margin: 0 auto;
			padding-top: 50px;
			text-align: center;
		}
		p, h2 {
			width: 83.3333%;
			margin: 0 auto 30px;
			padding: 0;
			text-align: left;
		}
		a {
			margin-left: 0;
		}
	}

	// section-6

	.section-6 {
		.section-6__slider {
			width: 70.14388%;
		}
		.slick-next {
			left: 75%;
		}
		.slick-prev {
			left: 55%;
		}
	}
	.section-7 {
		.section-7__experience-works .col-2 {
			width: 50%;
			padding-left: 9.8%;
			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom: 30px;
			}

		}
	}
	// section-9
	.section-9 {
		.col-6.phone-form {
			width: 83.6666%;
			margin-left: 8.3333%;
			text-align: center;
		}
		.phone-form form {
			width: 86.6666%;
			margin: auto;
			text-align: left;
		}
		.section-9__input-decor {
			width: 100%;
			margin: 0 auto 25px;
		}
		.phone-form button {
			margin: 45px auto 0;
		}
		input#data {
			margin-left: 8%;
		}

	}

	// footer
	footer {
		.col-5.footer__links {
			position: absolute;
			top: 0;
			float: none;
			width: 100%;
			margin: 0;
			.col-4 {
				width: 30%;
				margin-left: 0;
			}
			.col-5 {
				width: 45%;
				text-align: center;
			}
			.col-3 {
				width: 25%;
				text-align: right;
			}
		}
		.col-6.footer__info {
			width: 100%;
			p {
				text-align: center;
			}
		}

	}
}

@media (max-width: 575px) {

	//   section-1
	.section-1 {	
		min-height: 520px;
		padding-top: 140px;
		background-position: 40% center;

		.col-7 {
			width: 100%;
			margin-left: 0;
		}
		.section-1__title {
			position: relative;
			padding-bottom: 70px;
			font-size: 2.5rem;
			line-height: 1.2;
		}
	}

	.section-2 {
		text-align: center;
		padding-top: 30px;
		.col-3 {
			margin-bottom: 30px;
		}
		.section-2__title {
			padding-bottom: 30px;
		}
		.section-2__icon {
			display: block;
			width: 100%;
			margin: 0 auto 10px;
		}
		.section-2__serv {
			display: block;
			width: 100%;
			margin: auto;
			text-align: center;
		}
	}

	.section-3 {
		.section-3__title {
			padding-bottom: 30px;
			text-align: center;
		}
		.col-6 {
			p {
				width: 86%;
				left: 25px;
				font-size: 1.5385rem;
			}
			img {
				width: 105%;
			}
		}
		.section-3__item.height--265 {
			max-height: 160px;
		}
		.col-6.tech-service {
			max-height: 160px;
			span {
				max-height: 160px;
			}
			img {
				transform: translate(0,-50px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-50px);
			}
		}

		.emer-dispatch {
			img {
				transform: translate(0,-50px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-50px);
			}
		}

		.dispatch {
			img {
				transform: translate(0,-70px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-70px);
			}
		}

		.modern {
			img {
				transform: translate(0,-10px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-10px);
			}
		}

		.repairs {
			img {
				transform: translate(0,-40px);
			}
			&:hover img,
			&:focus img,
			&:active img {
				transform: translate(0,-40px);
			}		
		}
	}

	//   section-4
	.section-4 {
		.section-4__title {
			padding-bottom: 30px;
			text-align: center;
		}
		.equipment__icons {
			height: 100px;
		}
		.slick-dots.dots-equipment {
			top: 420px;
		}

	}

	.section-5 {
		margin-bottom: 30px;
		padding: 0;
		.container {
			padding: 0;
		} 
		.section-5__slider {
			height: 450px;
			.slider__img {
				height: 450px;
				overflow: hidden;
			}
		}
		.slick-dots {
			bottom: 15%;
		}
		.slider-descr {
			bottom: 21%;
			font-size: 1.5rem;
		}
		.col-4 {
			height: auto;
		}
		p, h2 {
			margin: 0 auto 20px;
		}
	}

	.section-5__link.ion-ios-arrow-right:before {
		top: 25%;
	}

	//   section-6
	.section-6 {
		padding: 20px 0 50px;

		.container {
			padding: 0;
		}
		.section-6__slider {
			width: 320px;
			margin: 0 auto;
			.slider__img span {
				bottom: 12%;
				font-size: 1.3rem;
			}
			.slider__img {
				position: relative;
				max-width: 300px !important;
			}
		}
		.slick-next {
			left: 52%;
			top: 87%;
		}
		.slick-prev {
			left: 34%;
			top: 87%;
		}
		.section-6__title {
			text-align: center;
		}
	}

	.section-6__link.ion-ios-arrow-right:before {
		top: 25%;
	}

	//   section-7 
	.section-7 {
		.section-7__title {
			text-align: center;
		}
		.section-7__cnt {
			margin-top: 30px;
		}
		.section-7__years {
			font-size: 7rem;
		}
		.col-5.col-offset-1 {
			width: 100%;
			padding-top: 160px;
		}
		.section-7__banner p {
			font-size: 1.2rem;
		}
		.section-7__partner-banner p {
			margin: 25px 0 25px;
		}
		.section-7__experience-works .col-2 {
			min-height: 95px;
		}
	}

	.section-7__link.ion-ios-arrow-right:before {
		top: 27%;
	}

	.section-8 {
		.section-8__item {
			width: 100%;
			float: none;
			max-width: 320px;
			text-align: center;
			margin: auto;
			margin-bottom: 0;
		}
		.section-8__link-prop {
			width: 70%;
			display: inline-block;
			margin: 0 0 30px;
		}
		.section-8__link-catalog {
			width: 70%;
		}
	}

	.section-9 {
		padding-bottom: 50px;
		.col-6.phone-form {
			width: 100%;
			margin-left: 0;
		}
		label.for-data {
			font-size: 1rem;
			width: 70%;
			margin-left: 20px;
		}
		.phone-form p {
			width: 80%;
			margin: 0 auto 40px;
		}
	}

	footer {
		.col-5.footer__links {
			.col-4,
			.col-5,
			.col-3 {
				width: 100%;
				text-align: center;
				a {
					margin-bottom: 20px;
				}
			}
		}
		.footer__support-info {
			padding-top: 10px;
			a, span {
				display: block;
			}
			
		}
		.col-6.footer__info {
			margin-top: 315px;
			.social-descr {
				margin-right: 20px;
			}
			.social-icon {
				margin-right: 15px;
			}
		}
		.footer__mail-link {
			padding-left: 0;
			padding-top: 15px;
			display: block;
			font-size: 1.3rem;
		}

	}
}


