/*__________TECH-SERVICES__________*/

.main-service__section-1 {
	position: relative;
	min-height: 470px;
	background: url(../images/services/tex_obsl_1.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0, 0.3);
	}
}

/*  main-service__section-2   */

.main-service__section-2 {
	overflow: hidden;
	padding: 50px 0 0;
	h2 {
		font-size: 1.5rem;
		margin: 50px 0;
	}
	.row {
		text-align: left;
	}
	.col-3 {
		text-align: left;
		margin-bottom: 50px;
	}
	.col-8 {
		margin-bottom: 35px;
		span {
			position: relative;
			font-weight: bold;
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 50%;
			// 	left: -40px;
			// 	transform: translateY(-50%);
			// 	display: block;
			// 	width: 25px;
			// 	border-top: 2px solid #496de1;
			// }
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	h4 {
		margin: 0 0 15px;
	}

}

p.main-service__section-2-descr {
	width: 58%;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: left;
}

.content-img img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 35px;
	padding-right: 70px;
}

.span-bold {
	font-weight: bold;
}

/*  main-service__section-3   */

.main-service__section-3 {
	min-height: 450px;
	overflow: hidden;
	padding-bottom: 50px;
	h2 {
		font-size: 1.5rem;
		margin: 50px 0;
	}
}

/*  main-service__section-4   */

.main-service__section-4 {
	p {
		margin: 50px 0;
		font-size: 1.5rem;
		font-weight: bold;
	}
	a {
		@include link-button;
	}
	button.button-prop {
		display: inline-block;
		margin-left: 20px;
		padding: 14px 25px 14px 25px;
		background: transparent;
		text-decoration: none;
		color: #7e8594;
		font-size: 0.875rem;
		text-transform: uppercase;
		border: 1px solid $color-theme; 
		border-radius: 4px;
		@include transition(all, $time, $funct);
		&:hover {
			color: $font-color-1;
			background: #3071f2;
			border-color: transparent;
		}
	}
}

.main-service__section-4-links {
	padding-bottom: 50px;
	border-bottom: 1px solid #99bbff;
}


/*  main-service__section-5   */

.main-service__section-5 {
	padding-bottom: 100px;
	h2 {
		font-size: 1.5rem;
		margin: 50px 0;
	}
}

.main-servise__section-5-img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 360px;
	overflow: hidden;
	text-align: left;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	// &:hover:before {
	// 	background: rgba(89,144,255, 0.2);
	// }
	span {
		position: absolute;
		top: 79%;
		left: 15px;
		color: $font-color-1;
		font-size: 1.125rem;
		font-weight: bold;
		z-index: 1;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		background: rgba(0,0,0,0.2);
		transition: background 0.3s ease;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 50%;
		background: linear-gradient(to top, rgba(0,0,0, 0.9), transparent);
		-webkit-background: linear-gradient(to top, rgba(0,0,0, 0.9), transparent);
		-moz-background: linear-gradient(to top, rgba(0,0,0, 0.9), transparent);
		-ms-background: linear-gradient(to top, rgba(0,0,0, 0.9), transparent);
		-o-background: linear-gradient(to top, rgba(0,0,0, 0.9), transparent); 
	}
	img {
		display: block;
		height: 100%;
		width: auto;
		transition: margin 0.3s ease;
	}
}

.main-servise__section-5-img.tech-serv {
	img {
		margin-left: -160px;
	}	
	&:hover img {
		margin-left: -110px;
	}
}

.main-servise__section-5-img.emer-disp {
	img {
		margin-left: -150px;
	}	
	&:hover img {
		margin-left: -110px;
	}
}

.main-servise__section-5-img.disp {
	img {
		margin-left: -150px;
	}	
	&:hover img {
		margin-left: -110px;
	}
}

.main-servise__section-5-img.mod {
	img {
		margin-left: -150px;
	}	
	&:hover img {
		margin-left: -110px;
	}
}

.main-servise__section-5-img.repair {
	img {
		margin-left: -150px;
	}	
	&:hover img {
		margin-left: -110px;
	}
}


/*   page emer-dispatch   */
.main-service__section-1.emer-disp {
	background: url(../images/services/Avariyno-dispetcher.jpg) no-repeat center center;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}

.main-service__section-2.emer-disp {
	span {
		font-weight: 400;
	}
	span.weight-bold {
		font-weight: bold;
		&:before {
			top: 10px;
		}
	}
	p.margin-bottom {
		margin-bottom: 15px;
	}
}

/*   page dispatch   */
.main-service__section-1.disp {
	background: url(../images/services/big_dispatch.jpg) no-repeat center center;
	background-size: cover;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}

.main-service__section-2-descr.disp {
	margin-bottom: 35px;
}


/*   page modern   */
.main-service__section-1.mod {
	background: url(../images/services/moderniz_1.jpg) no-repeat top center;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.3);
	}
}


/*   page repair   */
.main-service__section-1.repair {
	background: url(../images/services/Remont.jpg) no-repeat center bottom;
	background-size: 100% auto;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
}

.main-service__section-3 .media-1024-hide {
	display: none;
}



/*   MEDIA   */

@media (max-width: 1199px) {
	.main-service__section-1 {
		.col-6,
		.col-7 {
			margin: 0;
			width: 100%;
		}
	}
	p.main-service__section-2-descr {
		width: 70%;
	}

	.main-service__section-2 .col-3 {
		width: 33.3333%;
	}

	.main-service__section-2 .col-8 {
		margin-bottom: 35px;
		width: 83.3334%;
	}

	.col-6.content-img {
		img {
			padding-right: 0;
		}
	}

	.main-service__section-5 {
		.col-3 {
			width: 33.3333%;
			margin-bottom: 15px;
		}
	}

	.main-servise__section-5-img span {
		width: 90%;
	}

	/*   page emer-dispatch   */

	.main-service__section-2-cnt {
		.col-5 {
			width: 80%;
		}		
		.col-7 {
			width: 80%;
		}
	}
}

@media (max-width: 1023px) {
	p.main-service__section-2-descr {
		width: 90%;
	}
	
	.main-service__section-2 .col-8 {
		width: 100%;
		margin-left: 0;
	}

	.col-6.content-img {
		width: 67%;
	}

	.main-service__section-3 {
		h2 {
			text-align: center;
		}
	}

	.main-service__section-4 {
		.col-6 {
			width: 70%;
			margin-left: 15%;
		}
	}

	.main-service__section-3 {
		.col-3 {
			width: 33.3333%;
		}

		.slick-dots.dots-equipment {
			top: 385px;
		}
	}

	.main-service__section-3 .media-1024-show {
		display: none;
	}

	.main-service__section-3 .media-1024-hide {
		display: block;
	}


	.main-service__section-5 {
		.row {
			margin: 0 64px;
		}
		.col-3 {
			width: 50%;
		}
	}

	.main-service__section-2-cnt {
		.col-5 {
			width: 100%;
			margin-left: 0;
		}
		.col-7 {
			width: 100%;
			margin-left: 0;
		}
	}
}

@media (max-width: 767px) {
	.main-service__section-1 {
		background-position: 75%;
	}

	p.main-service__section-2-descr {
		width: 100%;
	}

	.main-service__section-2 .col-3 {
		width: 50%;
	}

	.col-6.content-img {
		width: 100%;
		margin-left: 0;
	}

	.main-service__section-2-cnt {
		.col-5 {
			width: 100%;
			margin-left: 0;
		}
	}

	.main-service__section-3 {
		.col-3 {
			width: 50%;
		}
		.slick-dots.dots-equipment {
			top: 505px;
		}
	}

	.main-service__section-3 .media-1024-show {
		display: block;
	}

	.main-service__section-3 .media-1024-hide {
		display: none;
	}

	.main-service__section-4 .col-6 {
		width: 100%;
		margin-left: 0;
	}

	.main-service__section-5 {
		.row {
			margin: 0 118px;
		}

		.col-3 {
			width: 100%;
		}
	}

	.main-service__section-1.emer-disp,
	.main-service__section-1.mod,
	.main-service__section-1.repair {
		background-size: cover;
	}

}


@media (max-width: 575px) {
	.services__section-1-title {
		.col-5 {
			width: 100%;
		}
	}

	.main-service__section-2 {
		padding-top: 35px;
		h2 {
			margin: 30px 0;
		}
	}

	.main-service__section-2 .col-3,
	.main-service__section-2 .col-8  {
		margin-bottom: 25px;
	}
	
	.section-2__icon {
		position: relative;
		display: block;
		margin: 0 auto 10px;
		text-align: center;  
	}

	.section-2__serv {
		display: block;
		width: 100%;
		margin: auto;
		text-align: center;
	}
	
	.main-service__section-3 .slick-dots.dots-equipment {
		top: 480px;
	}

	.main-service__section-4 button.button-prop {
		display: inline-block;
		width: 250px;
		margin-top: 25px;
		margin-left: 0;
	}

	.main-service__section-4 p {
		margin-top: 25px;
	}
	
	.main-service__section-5 h2 {
		margin: 35px 0;
	}

	.main-service__section-5 .row {
		margin: 0px -10px;
	}

	.main-service__section-5 .col-3 {
		width: 300px;
		float: none;
		margin: 0 auto 15px;
	}

	.main-servise__section-5-img span {
		font-size: 1.3846rem;
	}

	.services__section-1-title h1 {
		font-size: 2.75rem;
	}
}