@import 'variables';

@mixin transition($prop, $time, $funct) {
  transition: $prop $time $funct;
  -webkit-transition: $prop $time $funct;
  -moz-transition: $prop $time $funct;
  -o-transition: $prop $time $funct;
  // -ms-transition: $prop $time $funct;
}

@mixin box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

@mixin box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
}

@mixin link-button {
  position: relative;
  display: inline-block;
  padding: 15px 45px 15px 25px;
  background: $color-theme;
  text-decoration: none;
  color: $font-color-1;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 4px;
  @include transition(background, $time, $funct);
  &:hover {
    background: $color-hover-link1;
  }
  &.ion-ios-arrow-right:before {
    position: absolute;
    top: 26%;
    right: -10px;
    transform: translateX(-30px); 
    content: "\f3d3";
    font-size: 1.5rem;
    color: $font-color-1;
    @include transition(transform, 0.2s, ease-out);
  }
  &.ion-ios-arrow-right:hover:before {
    transform: translateX(-25px);
  }
}
