/*__________OBJECTS__________*/

.objects__content {
	position: relative;
	margin-bottom: 100px;
	text-align: left;
	.container {
		margin-top: -100vh;
	}
	h1 {
		margin: 128px 0 20px;
		font-size: 1.5rem;
	}
	p {
		padding-bottom: 30px;
		color: #b3b3b3;
	}
	.col-6 {
		max-height: 220px;
		margin-top: 20px;
	}
}

.objects__img {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 220px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;		
		background: linear-gradient(to top, rgba(0,0,0, 0.7), transparent);
		-webkit-background: linear-gradient(to top, rgba(0,0,0, 0.7), transparent);
		-moz-background: linear-gradient(to top, rgba(0,0,0, 0.7), transparent);
		-ms-background: linear-gradient(to top, rgba(0,0,0, 0.7), transparent);
		-o-background: linear-gradient(to top, rgba(0,0,0, 0.7), transparent); 
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	span {
		position: absolute;
		top: 83%;
		left: 20px;
		display: inline-block;
		width: 85%;
		color: $font-color-1;
		font-weight: bold;
		z-index: 2;
	}
}

.object__map-cnt {
	position: sticky;
	top: 0;
	height: 100vh;
	text-align: right;
	@include transition($prop, $time, $funct);
}

.object__map-cnt.for__msie {
	position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
}

.object__map-cnt.for__msie.sticky {
	position: absolute;
}



#objets-map {
	display: inline-block;
	width: 33%;
	height: 100%;
	margin: auto;
}

.col-12.media-show--767 {
	display: none;
	text-align: center;
	margin-top: 50px;
	span {
		vertical-align: middle;
		margin-left: 5px;
	}
}

.img-load {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	transition: transform 1s ease;
	&.active {
		transform: rotate(540deg);
	}
}


/*   MEDIA   */

@media (max-width: 1199px) {
	.object__map-cnt {
		display: none;
	}
	.objects__content .container {
		margin-top: 0;
		.col-8 {
			width: 83.3333%;
		}
	}
}

@media (max-width: 1023px) {
	.objects__content .container {
		.col-8 {
			width: 100%;
		}
	}
	.objects__title {
		margin-top: 158px;
	}
}

@media (max-width: 767px) {
	.objects__img span {
		top: 77%;
	}
	.objects__content {
		.col-6 {
			text-align: center;
			.objects__img {
				max-width: 380px;
			}
			span {
				text-align: left;
				font-size: 1rem;
				top: 80%;
			}
		}
		.col-6.media-hide--767 {
			display: none;
		}
		.col-6.media-hide--767.show {
			display: block;
		}
		.col-12.media-show--767 {
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.objects__content .col-6 {
		width: 100%;
	}
	.objects__img span {
		font-size: 1.25rem;
	}
}

@media (max-width: 575px) {
	.objects__content .col-6 span {
		font-size: 1.14286rem;
	}
	.objects__content h1 {
		margin: 108px 0 20px;
	}

	.objects__content {
		margin-bottom: 50px;
	}
}