.product__cnt {
	padding: 110px 0 50px;
	background: #f7f8fa;
}

.product-card {
	position: relative;
	min-height: 650px;
	background: #ffffff;
	border-radius: 4px;
}

.product-galery {
	position: relative;
	width: 50%;
}

.product-card-descr {
	position: absolute;
	width: 40%;
	top: 0;
	right: 10%;
	max-height: 140px;
	overflow: hidden;
	margin-top: 30px;
	font-size: 28px;
	line-height: 35px;
	text-align: left;
}

.product-card__atr {
	position: absolute;
	width: 40%;
	top: 170px;
	right: 10%;
	text-align: left;
	color: #8c8c8c;
	font-size: 15px;
}

.product-card__article,
.product-card__brand {
	height: 70px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 4.5;
}

.article-val,
.brand-val {
	color: $font-color-2;
	font-weight: bold;
}

.product-card__avail {
	position: absolute;
	top: 340px;
	left: 50%;
	background: #46dc46;
	color: #ffffff;
	padding: 12px 24px;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 2px;
	&.absent {
		background: #d4d4d4;
	}
}

.product-card__price {
	position: absolute;
	top: 345px;
	right: 10%;
	font-size: 28px;
	font-weight: 600;
	line-height: 1;
	img {
		height: 20px;
		width: 20px;
		margin-left: 10px;
		vertical-align: middle;
	}
}

.product-quantity {
	position: absolute;
	left: 50%;
	top: 420px;
	width: 40%;
	text-align: right;
	font-size: 0;
	span {
		margin-right: 36%;
		color: #8c8c8c;
		font-size: 15px;
		vertical-align: middle;
	}
	button,
	input {
		position: relative;
		width: 70px;
		height: 35px;
		font-size: 16px;
		text-align: center;
		vertical-align: middle;
		border: 1px solid #e6e6e6;
		background: #ffffff;
	}

	button {
		outline: 0;
		border-radius: 3px;
		margin: 0 -2px;
		font-size: 20px;
		transition: all 0.2s ease;
		&:hover {
			color: #1f73fd;
			border-color: #1f73fd;
			z-index: 1;
		}
	}
}

button.add-prod__in-cart {
	position: absolute;
	top: 510px;
	left: 50%;
	width: 40%;
	padding: 13px 0 14px;
	color: #ffffff;
	background: #1f73fd;
	line-height: 1;
	border: none;
	border-radius: 22px;
	outline: none;
	transition: background 0.3s ease;
	&:hover {
		background: $color-hover-btn;
	}
	img {
		vertical-align: middle;
	}
	.plus-icon {
		width: 10px;
		height: 10px;
	}
	.cart-icon {
		width: 15px;
		height: 15px;
		margin-left: 15px;
	}
	span {
		margin-left: 15px;
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase;
	}
}


.product__full-descr {
	width: 80%;
	margin: 40px auto 0;
	padding: 40px 0 75px;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	border-top: 1px solid #e6e6e6;
}



.fotorama{
	&__thumb-border {
		border-color: #1f73fd;
		border-radius: 4px;
	}

	&__wrap {
		margin: 0 auto;
	}

	&__stage {
		margin: 50px 0;
	}	

	&__thumb {
		border: 1px solid transparent;
		border-radius: 4px;
		transition: border-color 0.5s ease;
		&:hover {
			border: 1px solid #1f73fd;
		}
	}
}

.fotorama__arr--disabled {
	opacity: 0.2;
}


.fotorama__nav__frame.fotorama__active .fotorama__dot {
	width: 10px!important;
	height: 10px!important;
	background: #1c69e6!important;;
}

.fotorama__dot {
	width: 10px!important;
	height: 10px!important;
	border: none!important;
	background: #e5e5e5!important;
}

.fotorama__nav__frame.fotorama__nav__frame--dot {
	width: 30px;
}

.fotorama__img {
	left: 50%!important;;
	top: 50%!important;;
	transform: translate(-50%,-50%)!important;;
}


.foto-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.close-fullsize {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.prev-slide,
.next-slide {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 50px;
	cursor: pointer;
}

.prev-slide {
	left: 80px;
}

.next-slide {
	right: 80px;
}

.foto-wrap {
	img.prev-slide-fullsize,
	img.next-slide-fullsize {
		position: absolute;
		width: 30px;
		height: 30px;
		top: auto;
		bottom: 68px;
		cursor: pointer;
	}

	img.prev-slide-fullsize {
		left: 200px;
	}

	img.next-slide-fullsize {
		right: 200px;
	}
}

.close-fullsize-mobile {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	width: 90%;
	height: 50px;
	color: #ffffff;
	max-width: 486px; 
	border: 0;
	outline: 0;
	text-transform: uppercase;
	border-radius: 4px;
	background: #dcdcdc;
}

.zoom-window-wrap {
	position: fixed;
	top: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0, 0.5);
	z-index: -1;
	opacity: 0;
	@include transition($prop, 0.5s, $funct);
}

.zoom-window-cnt {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.zoom-modal-window {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 750px;
	width: 980px;
	transform: translate(-75%,-50%);
	background: $font-color-1;
	text-align: left;
	opacity: 0;
	border-radius: 4px;
	@include transition($prop, 0.5s, $funct);
}


@media (max-width: 1199px) {

	.product-card {
		padding-top: 140px;
	}

	.product-card-descr {
		width: 70%;
		top: 0;
		right: 0;
		left: 6%;
	}
	
	.fotorama__stage{
		margin: 30px 0;
	}

	.fotorama__nav__frame.fotorama__nav__frame--thumb {
		padding: 10px;
	}
	
	.product-card__atr {
		top: 140px;
	}

	.product-card__avail {
		top: 320px;
	}

	.product-card__price {
		top: 325px;
	}

	.product-quantity span {
		margin-right: 20%;
	}

	.product-quantity {
		top: 400px;
	}

	button.add-prod__in-cart {
		top: 490px;
	}

	.product__full-descr {
		width: 87%;
	}

	.prev-slide {
		left: 20px;
	}

	.next-slide {
		right: 20px;
	}

	.foto-wrap img.prev-slide-fullsize, 
	.foto-wrap img.next-slide-fullsize {
		bottom: 108px;
	}
}

@media (max-width: 1023px) {
	.product__cnt {
		padding-top: 140px;
	}

	.product-card-descr {
		width: 90%;
	}

	.product-card {
		padding-top: 200px;
	}

	.product-card__atr {
		top: 170px;
		left: 6%;
		width: 50%;	
	}

	.product-card__article, 
	.product-card__brand {
		display: inline-block;
		height: auto;
		border-bottom: none;
		line-height: 1;
	}

	.product-card {
		&__article {
			padding-right: 30px;
			border-right: 1px solid #e6e6e6;
		}
		&__brand {
			padding-left: 18px;
		}
	}

	.product-card__avail {
		top: 162px;
		right: 6%;
		left: auto;
	}

	.product__full-descr {
		margin-top: 195px;
		width: 88%;
		padding-bottom: 50px;
	}

	.product-card__price {
		top: 755px;
		left: 6%;
		right: auto;
	}

	.product-quantity {
		top: 745px;
		right: 6%;
		left: auto;
		width: 360px;
		span {
			margin-right: 50px;
		}
	}

	button.add-prod__in-cart {
		top: 815px;
		left: 6%;
		width: 642px;
		right: auto;
	}

	.product-galery {
		width: 70%;
		margin: auto;
	}

	.modal-window.galery {
		width: 728px;
	}

	
	.foto-wrap img.prev-slide-fullsize {
		left: 85px;
	}

	.foto-wrap img.next-slide-fullsize {
		right: 85px;
	}
	
}

@media (max-width: 767px) {

	.product-card-descr {
		left: 5%;
		font-size: 21px;
		line-height: 25px;
	}

	.product-card__atr {
		top: 140px;
	}

	.product-card__avail {
		top: 134px;
		right: 5%;
	}

	.product-card {
		padding-top: 190px;
	}

	.product-card__atr {
		width: 60%;
	}

	.product-card {
		&__article {
			padding-right: 15px;
		}
		&__brand {
			padding-left: 15px;
		}
	}

	.product-galery {
		width: 100%;
	}

	button.add-prod__in-cart {
		width: 90%;
		top: 755px;
	}

	.product-card__price {
		top: 720px;
	}

	.product-card__price {
		top: 620px;
		left: 5%;
	}

	.product-quantity {
		top: 680px;
		right: auto;
		left: 5%;
		span {
			margin-right: 58px;
		}
	}

	.product__full-descr {
		margin-top: 250px;
	}

	.prev-slide,
	.next-slide {
		display: none;
	}

	.close-fullsize {
		display: none;
	}

	.close-fullsize-mobile {
		display: block;
	}

	.zoom-modal-window {
		width: 100%;
		height: 100%;
	}
	
	.foto-fullscreen {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-55%);
	}

	.foto-wrap img.prev-slide-fullsize, 
	.foto-wrap img.next-slide-fullsize {
		bottom: 50%;
		transform: translateY(730%);
	}

	.foto-wrap img.prev-slide-fullsize {
		left: 15px;
	}

	.foto-wrap img.next-slide-fullsize {
		right: 15px;
	}

}

@media (max-width: 575px) {
	
	.product__cnt {
		padding-top: 110px;
	}
	
	.product-card-descr {
		left: 5%;
		max-height: 80px;
		font-size: 18px;
		line-height: 25px;
	}
	
	.product-card__atr {
		top: 120px;
		width: 90%;
	}

	.product-card__article, .product-card__brand {
		display: block;
		padding: 10px 0;
		border: none;
	}

	.product-card {
		padding-top: 250px;
	}

	.product-card__avail {
		top: 210px;
		right: auto;
		left: 5%;
	}

	.fotorama__arr.hide {
		display: none!important;
	}

	.fotorama__wrap {
		width: 100%!important;
	}

	button.add-prod__in-cart {
		top: 850px;
	}

	.product-quantity {
		top: 740px;
		right: auto;
		left: 5%;
		width: 250px;
		text-align: left;
		span {
			display: block;
			margin: 0;
			padding: 10px 0;
		}
	}

	.product-card__price {
		top: 690px;
	}

	.product__full-descr {
		margin-top: 260px;
	}

	.foto-wrap img.prev-slide-fullsize, 
	.foto-wrap img.next-slide-fullsize {
		display: none;
	}

	.close-fullsize-mobile {
		bottom: 20px;
	}

	.foto-fullscreen {
		transform: translate(-50%, -60%);
	}
}