/*search_null*/

.answer {
  font-size: 36px;
  line-height: 55px;
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 40px !important;
}

.search_form {
  position: relative;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 7px;
  input[type='search'] {
    min-height: 35px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    border-radius: 4px;
    border: 1px solid #e5e3e3;
    color: #8d8b8b;
    &:active {
      border: 1px solid #1f73fd;
    }
    &:focus {
      border: 1px solid #1f73fd;
    }
  }
  .search_icon {
    position: absolute;
    right: -7px;
    top: 0;
    height: 37px;
    width: 50px;
    background-color: #1f73fd;
    border-radius: 0 4px 4px 0;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease;
    img {
      height: 50%;
      display: block;
      margin-left: 7px;
    }
    &:hover {
      background-color: #185AC5;
    }
  }
}

.type-items__cnt {
  .answer_descr {
    color: #51687b;
    line-height: 25px;
    font-size: 16px;
  }
  h4 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 35px;
    color: #333333;
  }
  h1 {
    color: #333333;
  }
  .answer {
    margin-top: 80px;
  }
  .conact_us {
    text-align: right;
    margin: 0 auto;
    display: inline-block;
    font-size: 16px;
    color: #1f73fd;
    b {
      font-size: 18px;
    }
    img {
      display: inline-block;
    }
    div {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.min1200 {
  min-width: 1200px;
}

.settings_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  &:hover {
    cursor: pointer;
  }
  img {
    height: 28px;
  }
}

#small_menu {
  height: 7px;
  margin-left: 10px;
  margin-right: 18px;
  margin-bottom: 12px;
  transition: all 0.2s ease;
}

@media (max-width: 1200px) {
  .search_form {
    width: 5 * (100% / 12); /*!important*/
  }
}

@media (max-width: 576px) {
  .type-items__cnt {
    h1.type-category {
      font-size: 30px;
    }
  }
}

@media (max-width: 432px) {
  .search_form {
    width: 60%; /*!important*/
  }
}

@media (max-width: 370px) {
  .settings_button {
    display: none !important;
  }
}

@media (max-width: 340px) {
  .search_result_window {
    .image_search {
      display: none;
    }
    li {
      margin-bottom: 10px;
    }
  }
}
