.search_resalt_text_full {
  text-align: left;
  p {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
  .lines {
    color: #d0d0d0;
    font-weight: normal;
  }
  .second_p {
    font-size: 14px;
  }
  ul {
    padding-left: 10px;
  }
  li {
    font-size: 14px;
    color: #1f73fd;
    a {
      color: #1f73fd;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search_resalt_text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: bold;
  color: #3b3b3b;
  text-align: left;
}

.tovar {
  margin-top: 30px;
}

.search_result_window_hidden {
  top: 36px;
  z-index: -1;
  border: 1px solid #1f73fd;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  height: 0;
  left: 10px;
  opacity: 0;
  transition: all 0.1s ease;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    li {
      .image_search {
        height: 50px;
        width: 50px;
        overflow: hidden;
        float: left;
        margin-bottom: 14px;
        margin-right: 10px;
      }
      .search_window_header {
        font-size: 13px;
        padding-top: 2px;
      }
      .search_window_articl {
        font-weight: bold;
        padding-bottom: 2px;
      }
      img {
        height: 50px;
        width: auto;
        background-color: red;
        float: left;
        display: block;
      }
      p {
        display: inline-block;
        float: left;
      }
    }
  }
  .hovers {
    font-weight: normal;
    padding-left: 14px;
    height: 50px;
    border-left: none;
    .search_window_header {
      font-weight: normal;
      transition: all 0.2s ease;
    }
    &:hover {
      transition: all 0.2s ease;
      cursor: pointer;
      border-left: 4px solid #1f73fd;
      padding-left: 10px;
      .search_window_header {
        font-weight: bold;
      }
    }
  }
  .summ_search_result {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: #1f73fd;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 0px;
    padding-right: 0;
    margin: 0;
    margin-top: 20px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #185ac5;
      cursor: pointer;
    }
  }
}

.search_result_window {
  position: absolute;
  height: auto;
  left: 10px;
  top: 36px;
  border: 1px solid #1f73fd;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 0;
  opacity: 1;
  transition: all 0.1s ease;
  .no_result {
    font-size: 15px;
    margin-bottom: 20px;
    color: #121212;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    li {
      .image_search {
        height: 50px;
        width: 50px;
        overflow: hidden;
        float: left;
        margin-bottom: 14px;
        margin-right: 10px;
      }
      .search_window_header {
        font-size: 13px;
        padding-top: 2px;
      }
      .search_window_articl {
        font-weight: bold;
        padding-bottom: 2px;
      }
      img {
        height: 50px;
        width: auto;
        background-color: red;
        float: left;
        display: block;
      }
      p {
        display: inline-block;
        float: left;
      }
    }
  }
  .hovers {
    font-weight: normal;
    padding-left: 14px;
    height: 50px;
    border-left: none;
    .search_window_header {
      font-weight: normal;
      transition: all 0.2s ease;
    }
    &:hover {
      transition: all 0.2s ease;
      cursor: pointer;
      border-left: 4px solid #1f73fd;
      padding-left: 10px;
      .search_window_header {
        font-weight: bold;
      }
    }
  }
  .summ_search_result {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: #1f73fd;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 0px;
    padding-right: 0;
    margin: 0;
    margin-top: 20px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #185ac5;
      cursor: pointer;
    }
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.hidden {
  display: none;
}

.small_filter_button {
  position: fixed;
  left: -77px;
  bottom: 20%;
  background: #1f73fd;
  font-size: 14px;
  color: #ffffff;
  z-index: 10;
  display: none;
  transform: rotate(270deg);
  padding: 26px 36px 26px 36px;
  border-radius: 0 0 4px 4px;
  transition: 0.2s all ease;
  p {
    margin-right: 13px;
    display: inline-block;
  }
  &:hover {
    cursor: pointer;
    background-color: #185ac5;
  }
}

.filters {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100vh;
  padding: 150px 10px 20px 22px;
  z-index: 102 !important;
  text-align-last: left;
  overflow: paged-x;
  display: none;
  h3 {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 140%;
    text-indent: 0;
    line-height: 40px;
    margin-bottom: 28px;
  }
  p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  ul {
    margin: 0;
  }
  .lines {
    color: #d0d0d0;
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: #1f73fd;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    height: 34px;
    width: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.show {
  left: 100%;
}

.showImg {
  transform: rotate(-90deg) !important;
  transition: 0.2s all ease;
}

#small_menu_left {
  height: 7px;
  transform: rotate(90deg);
}

.settings_button_small_menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 70px;
  background-color: #ffffff;
  color: #262626;
  border-radius: 0 0 4px 4px;
  padding-right: 15px;
  padding-top: 15px;
  z-index: 100;
  text-align: left;
  transition: 0.2s all ease;
  &:hover {
    cursor: pointer;
  }
  div {
    color: #262626;
  }
  .clear-filters-small {
    color: #a6a6a6;
  }
  .acc-head {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #f0f1f2;
    position: relative;
    padding-left: 15px;
    font-weight: normal;
    transition: 0.2s all ease;
    &:hover {
      cursor: pointer;
      color: #1F73FD;
      font-weight: bold;
    }
    img {
      height: 7px;
      position: absolute;
      right: 13px;
      top: 30px;
      transform: rotate(0deg);
    }
  }
  .acc-body {
    padding-bottom: 30px;
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-top: 30px;
        font-weight: normal;
        transition: 0.2s all ease;
        padding-left: 15px;
        &:hover {

          cursor: pointer;
          font-weight: bold;
          border-left: 2px solid #1f73fd;
        }
      }
      li:first-child {
        margin-top: 0;
      }
    }
  }
}

.activ_small_menu {
  margin-left: 5px;
  font-weight: bold !important;
  border-left: 2px solid #1f73fd;
}

.blue_color {
  color: #1f73fd !important;
}

.showSetImg {
  transform: rotate(180deg);
}

.clear-filters-small {
  img {
    height: 19px !important;
  }
  color: #a6a6a6;
}

.line_div {
  border-top: 1px dashed #000; /* Параметры линии */
  margin-top: 10px;
  height: 18px; /* Высота блока */
  border-color: #d0d0d0;
  width: 200px;
}

@media (max-width: 1199px) {

  .row.category-items__cart-cnt {
    margin: 0 20px;
  }
  .col-4.category-items__card-wrap {
    width: (100% / 2);
  }
  .select-brand {
    width: auto !important;
  }
}

@media (max-width: 1023px) {
  .col-4.category-items__card-wrap {
    width: 100%;
    max-width: 748px;
    float: none;
    margin: 0 auto 20px;
  }

  .in-search-button {
    width: 245px !important;
  }
  .lines {
    font-size: 15px !important;
  }
  .line_div {
    width: 150px;
  }
  .search_resalt_text_full {
    li {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .search_resalt_text {
    h3 {
      display: none;
    }
  }
  .search_resalt_text_full.col-3 {
    display: none;
  }
  .small_filter_button {
    display: block;
    z-index: 1;
  }
  .col-4.category-items__card-wrap {
    width: 100%;
    max-width: 748px;
    float: none;
    margin: 0 auto 20px;
  }
  .tovar {
    .col-9 {
      width: 100%;
    }
  }
}

@media (min-width: 950px) {
  .settings_button_small_menu {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .small_filter_button {
    p.butt {
      font-size: 10px;
    }
  }
}