/*__________SERVICES__________*/

.services__section-1 {
	position: relative;
	min-height: 470px;
	background: url(../images/services/services_bg.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.services__section-1-title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	color: $font-color-1;
	text-align: left;
	span {
		font-size: 1.1875rem;
	}
	h1 {
		position: relative;
		margin-top: 50px;
		font-size: 3rem;
		&:before {
			content: '';
			position: absolute;
			top: -24px;
			display: block;
			width: 50px;
			border-top: 2px solid $font-color-1;
		}
	}
}

.services__section-2 {
	padding: 100px 0;
}

.services__section-2-cards {
	max-height: 265px;
	background: #fcfdff;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 0.2);
	cursor: pointer;
	&:not(:last-child) {
		margin-bottom: 40px;
	}

	@media (min-width: 1200px) {
		&:hover span:before {
			width: 110%;
			height: 110%;
			opacity: 1;
		}
		&:hover p {
			color: #4b87ff;
		}
		&:hover span {
			background: $font-color-1;
			color: #4b87ff;
		}
	}
	
	span {
		position: relative;
		display: inline-block;
		width: 90px;
		height: 90px;
		margin-left: 50px;
		background: #4b87ff;
		color: $font-color-1;
		font-size: 1.5625rem;
		font-weight: 900;
		line-height: 3.5;
		text-align: center;
		border-radius: 50%;
		vertical-align: middle;
		transition: all 0.5s ease;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			display: block;
			width: 0;
			height: 0;
			border-radius: 50%;
			border: 2px solid #4b87ff;
			transition: all 0.5s ease;
			opacity: 0;
		}
	}

	p {
		display: inline-block;
		width: 70%;
		margin-left: 30px;
		font-size: 1.6875rem;
		vertical-align: middle;
		transition: color 0.5s ease;
	}
	.col-7 {
		padding: 88px 10px;
		text-align: left;
	}
}


.services__card-img {
	position: relative;
	height: 265px;
	overflow: hidden;

	border-radius: 4px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		background: rgba(0,0,0,0.2);
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: block;
		width: 50%;
		background: linear-gradient(to right, rgba(252,253,255, 1), transparent);
		-webkit-background: linear-gradient(to right, rgba(252,253,255, 1), transparent);
		-moz-background: linear-gradient(to right, rgba(252,253,255, 1), transparent);
		-ms-background: linear-gradient(to right, rgba(252,253,255, 1), transparent);
		-o-background: linear-gradient(to right, rgba(252,253,255, 1), transparent); 
	}
}

.card-1 img {
	margin: -33px 0 0 -106px;
	width: 130%;
}

.card-2 img {
	margin: -39px 0 0 -15px;
	width: 130%;
}

.card-3 img {
	margin: -100px 0 0 -38px;
}

.card-4 img {
	margin: -28px 0 0 -23px;
	width: 130%;
}

.card-5 img {
	margin: -100px 0 0 -80px;
	width: 130%;
}


/*   MEDIA   */

@media (max-width: 1199px) {
	//   services__section-1
	.services__section-1-title {
		.col-6 {
			width: 91.6667%;
			margin-left: 8.3333%;
		}
	}

	.services__section-2-cards {
		position: relative;
		.col-7 {
			p {
				position: absolute;
				top: 110px;
				left: 165px;
				width: 50%;
				margin: 0;
				z-index: 1;
			}
		}
	}

	.services__section-2-cards.card-2 .col-7 p {
		top: 90px;	
	}

	.card-5 img {
		margin: -60px 0 0 -80px;
	}
}

@media (max-width: 1023px) {
	.services__section-2-cards {
		position: relative;
		.col-7 {
			span {
				width: 60px;
				height: 60px;
				margin-left: 60px;
				line-height: 2.5;
			}
			p {
				position: absolute;
				top: 140px;
				left: 60px;
				width: 65%;
				margin: 0;
			}
		}
	}
	.services__section-2-cards.card-2 .col-7 p {
		top: 140px;	
	}

	.services__section-2-cards .col-7 {
		padding: 65px 10px;
	}

	.card-1 img {
		margin: -33px 0 0 -106px;
		width: 160%;
	}

	.card-2 img {
		margin: -39px 0 0 -15px;
		width: 160%;
	}

	.card-3 img {
		margin: -110px 0 0 -80px;
	}

	.card-4 img {
		margin: 0 0 0 -40px;
		width: 140%;
	}

	.card-5 img {
		margin: 0 0 0 -80px;
		width: 140%;
	}
}

@media (max-width: 767px) {
	.services__section-1 {
		background-position: 70%;
	}
	.services__section-2-cards {
		position: relative;
		.col-7 {
			width: 60%;
			p {
				top: 150px;
				left: 60px;
				width: 80%;
			}

		}
		.col-5 {
			width: 40%;
		}
	}
	.services__section-2-cards.card-2 .col-7 p {
		top: 150px;	
	}

	.services__card-img:after {
		width: 160%;
	}
	
	.card-1 img {
		margin: -44px 0 0 -355px;
		width: auto;
	}
	.card-2 img {
		margin: -90px 0 0 -165px;
		width: auto;
	}
	.card-3 img {
		margin: -100px 0 0 -55px;
	}
	.card-4 img {
		margin: -40px 0 0 -230px;
		width: auto;
	}
	.card-5 img {
		margin: -150px 0 0 -220px;
		width: auto;
	}
}

@media (max-width: 575px) {

	.services__section-2 {
		padding: 50px 0;
	}

	.services__section-2-cards {
		position: relative;
		.col-7 {
			width: 60%;
			p {
				left: 15px;
				width: 80%;
			}
			span {
				margin-left: 15px;
				font-size: 2rem;
				line-height: 2.4;
			}
		}
		.col-5 {
			width: 40%;
		}
	}

	.card-1 img {
		margin-left: -375px;
	}
	.card-2 img {
		margin-left: -225px;
	}
	.card-3 img {
		margin-left: -110px;
	}
	.card-4 img {
		margin-left: -280px;
	}
	.card-5 img {
		margin-left: -250px;
	}

}

@media (max-width: 435px) {
		.card-1 img {
		margin-left: -410px;
	}
}