/*   Page lift_items   */
.type-items__cnt {
	padding: 110px 0 100px;
	background: #f7f8fa;
	h1 {
		font-size: 2.375rem;
		font-weight: 400;
		margin-bottom: 20px;
	}
}

.catalog-route {
	font-size: 0.75rem;
	color: #6b6b6b;
	margin-bottom: 28px;
}

.type-items__descr-title {
	width: 50%;
	margin: 0 auto 50px;
	line-height: 25px;
}

.type-items__card {
	display: block;
	height: 410px;
	background: #ffffff;
	border-radius: 4px;
	transition: all 0.3s ease;
	&:hover .type-items__card-descr span {
		color: $color-theme;
		text-decoration: underline;
	}
}

.type-items__card-img {
	position: relative;
	display: block;
	height: 280px;
	background: #ffffff;
	img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}

.type-items__card-descr {
	position: relative;
	display: block;
	height: 130px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 15px;
		width: 100%;
		height: 20px;
		background: linear-gradient(to top, #ffffff, rgba(255,255,255,0.3));
		z-index: 1;
	}
	span {
		position: absolute;
		width: 80%;
		max-height: 5.5rem;
		overflow: hidden;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		margin: auto;
		color: $font-color-2;
		text-align: left;
		transition: all 0.3s ease; 
	}
}

.col-3.type-items__card-wrap {
	margin-bottom: 20px;
}

/*   MEDIA   */

@media (max-width: 1199px) {

	.type-items__descr-title {
		width: 65%;
	}

	.row.type-items__cards-cnt {
		margin: 0 20px;
	}

	.col-3.type-items__card-wrap {
		width: 33.3333%;
	}
}

@media (max-width: 1023px) {

	.type-items__cnt {
		padding-top: 140px;
	}

	.type-items__descr-title {
		width: 80%;
	}

	.row.type-items__cards-cnt {
		margin: 0 84px;
	}

	.col-3.type-items__card-wrap {
		width: 50%;
	}
}

@media (max-width: 767px) {


	.type-items__descr-title {
		width: 100%;
	}

	.row.type-items__cards-cnt {
		margin: 0 -10px;
	}
}

@media (max-width: 575px) {

	.type-items__cnt {
		padding: 110px 0 30px;
	}

	.catalog-route {
		font-size: 1rem;
	}

	.type-items__descr-title {
		margin-bottom: 35px;
		font-size: 15px;
	}

	.col-3.type-items__card-wrap {
		width: 100%;
		max-width: 280px;
		float: none;
		margin: 0 auto 20px;
	}

	.type-items__card-descr span {
		font-size: 16px;
	}
}