$main-font:'GothaPro', 'Arial', 'Helvetica', sans-serif;;


$font-color-1: #ffffff;
$font-color-2: #000000;
$font-color-3: #7e8594;

$color-theme: #295fcc;
$color-hover-link1: #1f4799;

$font-size: 16px;
$font-height: 1.5;
$font-weight: 400;

/** Grid variables **/
// $container-width: 1200px;

   // transitions   
$prop: all;
$time: 0.5s;
$funct: ease;

$color-hover-btn: #1c69e6;